<!DOCTYPE html>
<html lang="en">
  <head>
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/lib/angular-ui/build/angular-ui.min.css" rel="stylesheet">
	<link href="/css/select2.css" rel="stylesheet"/>
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link rel="stylesheet/less" type="text/css" href="css/importer.less">
	<title>INDX Developer Tools</title>
  </head>
  <body ng-app="importer" ng-controller="main" ng-cloak>
    <toolbar box-var='selectedBox' username-var='selectedUser'></toolbar>
	<div class='main dropzone'> 
	  <div class='alert alert-danger' ng-show='error'>
	  	{{ error }}
	  </div>
	  <div ng-show="selectedUser && selectedBox && !error">
	  	<div class="output" ng-show='rows && !wait' >
		  	<div class="btn btn-primary savebtn" ng-disabled="wait" ng-click='doSave()'><span class="glyphicon glyphicon-floppy-open"></span> - Save to INDX</div>
		  	<div class="btn-group">
		  		<label class="btn btn-warning"><input ng-model='output.format' type="radio" value="outputRaw" name="output-type" checked>Raw</label>
		  		<label class="btn btn-warning"><input ng-model='output.format' type="radio" value="outputGtime" name="output-type">Temporal Data (gData)</label>
		  		<label class="btn btn-warning"><input class="btn btn-warning" ng-model='output.format' type="radio" value="outputGannotation" name="output-type">Temporal Annotations (gAnnotation)</label>
		  	</div>	
		  	<div ng-show='output.format=="outputGtime"' class="outputOptions">
		  		<table>
		  			<tr><td>Timestamp Column: </td><td><select ng-model='output.gtime.timecol'ng-options='c.newname for c in cols'></select></td></tr>
		  			<tr><td>Value Column:</td><td><select ng-model='output.gtime.valcol' ng-options='c.newname for c in cols'></select></td></tr>
		  			<tr><td>Channel Name:</td><td><input type='text' ng-model='output.gtime.channel' placeholder="e.g., blood pressure"></input></td></tr>
		  			<tr><td>Source Name:</td><td><input type='source' ng-model='output.gtime.source' placeholder="e.g., my cool csv file"></input></td></tr>
		  			<tr><td>Units:</td><td><input type='units' ng-model='output.gtime.units' placeholder='e.g., kg'></input></td></tr>
		  		</table>	
		  	</div>	
		  	<div ng-show='output.format=="outputGannotation"' class="outputOptions">
		  		<table>
		  			<tr><td>Start Time Column: </td><td><select ng-model='output.gannotate.startcol' ng-options='c.newname for c in cols'></select></td></tr>
		  			<tr><td>End Time Column:</td><td><select ng-model='output.gannotate.endcol' ng-options='c.newname for c in cols'></select></td></tr>
		  			<tr><td>Value/Label Column:</td><td><select ng-model='output.gannotate.labelcol' ng-options='c.newname for c in cols'></select></td></tr>
		  			<tr><td>Source Name:</td><td><input type='text' ng-model='output.gannotate.source' placeholder="e.g., my cool csv file"></input></td></tr>
		  			<tr><td>Annotation Type:</td><td><input type='text' ng-model='output.gannotate.annotationtype' placeholder='e.g., '></input></td></tr>
		  		</table>
		  	</div>	

		</div>	
	  	<div ng-show='!dropped'>
	  		<h2 class="instructions">[ drop a CSV file here ]</h2>
	  		<h2 class="yesdrophere">go on and drop the file</h2>
	  		<div class='endresult' ng-show='savedmodels'>
	  			<b>[ Saved <span ng-bind="savedmodels.length"></span> things ]</b>
	  			<ul>
	  				<li ng-repeat="m in savedmodels">
	  					<span ng-bind="m.id"></span>
	  					<span ng-bind="m.attributes.name || m.attributes.title" ng-show="m.attributes.name || m.attributes.title"></span>
	  				</li>
	  			</ul>
	  		</div>
	  	</div>
	  	<div class="waitoverlay" ng-show="wait">
	  		<div class="pleasewait">please wait ..</div>
	  		<img src="imgs/39.gif"></img>
	  	</div>	
	  	<div ng-class="{loaded:true, blur:wait}" ng-show="rows">
	  		<table class="table table-striped">
	  			<thead>
	  				<tr>
	  					<th> select </th>
	  					<th ng-repeat='c in cols'>
	  						<input type='text' class="propname" ng-model="c.newname"></input>
	  					</th>
	  				</tr>
	  				<tr class="key">
	  					<th> use as primary key </th>
	  					<th ng-repeat='c in cols' ng-click='clearIDExcept(c)'>
	  						<input type='checkbox' ng-model='c.id'></input>
	  					</th>
	  				</tr>
	  			</thead>
		  		<tr ng-repeat='r in rows' ng-class="{active:r.selected}">
		  			<td>
		  				<input type='checkbox' ng-model='r.selected'></input>
		  			</td>
		  			<td ng-repeat='c in cols' ng-class="{idclass:c.id}" ng-bind="r[c.name]"></td>
		  		</tr>
		  	</table>
	  	</div>
	  </div>
	  <div ng-show="!selectedUser">
		<h2> please log in </h2>
	  </div>
	  <div ng-show="selectedUser && !selectedBox">
		<h2> please select a box </h2>
	  </div>
	</div><!-- main -->
  </body>
  <script src="/lib/d3.min.js" type="text/javascript"></script>
  <script src="/lib/less/dist/less-1.6.2.min.js" type="text/javascript"></script>
  <script src="/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/lib/blur.js" type="text/javascript"></script>
  <script src="/lib/underscore/underscore.js" type="text/javascript"></script>
  <script src="/lib/backbone/backbone-min.js" type="text/javascript"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- angular -->
  <script src="/lib/angular/angular.min.js" type="text/javascript"></script>
  <script src="/lib/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
  <!-- indx -->
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
  <script src="js/importer.js" type="text/javascript"></script>
</html>
