<html>
  <head>
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/lib/angular-ui/build/angular-ui.min.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link rel="stylesheet/less" type="text/css" href="css/service_instagram.less">	
	<title>instagram Service</title>
  </head>
  <body ng-app="service_instagram" ng-controller="ConfigPage" ng-cloak>
	<toolbar box-var='selectedBox' username-var='selectedUser'></toolbar>
	<div class="main" ng-show="selectedUser && selectedBox">
		<h2>instagram Service</h2>
		<h4>Please enter the required credentials in order to configure your instagram Service.</h4>

		<div class="status">
			<table>
				<tr>
					<td> {{ runstate }} </td>
					<td><div class="btn btn-success" ng-click="doStart()">Start</div></td>
					<td><div class="btn btn-danger" ng-click="doStop()">Stop</div></td> 
				</tr>
			</table>
		</div>
		<table class='security'>
			<tr><td>Service User</td><td><select ng-model="app.user" ng-options='u.name for u in users'></select></td></tr>
			<tr><td>Service User's Password</td><td><input type="password" ng-model='app.password'></td></tr>
			<tr><td>Service's Box</td><td><select ng-model="app.box" ng-options='b for b in boxes'></select></td></tr>
			<tr><td><td>
			<div class="btn btn-warning" 
			ng-show="app.user && app.box && (app.user['@id'] !== selectedUser.id) && !granted"
			ng-click="grantACL(app.user, app.box)">Authorise {{ app.user.name }} to have access to {{ app.box }}</div>
			<div ng-show="granted" class="granted"> {{ granted_status }} </div>
		</td></tr>
		</table>
		<h4>Authenticate With Instagram</h4>
		<table class='auth_tab'>
			<tr ng-show="get_access_token_flag"><td>Access Token Code:</td><td><input type="text" name="access_token_code" ng-model="access_token_code"></input></td></tr>
			<tr><td> <button ng-show="!get_access_token_flag" ng-click="InstagramLogin()">Get Instagram Token</button></td></tr>
			<tr><td>
			<div class="btn btn-access_token"> 
			<button ng-show="get_access_token_flag"
			ng-click="set_instagram_access_token_from_code({access_token_code:access_token_code})">Verify Token</button></div> 
			</td></tr>
			<tr><td>Instagram Authorised Status: </td><td> {{ instagram_auth_status }}. </td></tr>
			<tr><td> Token set on: </td><td> {{ access_token_timestamp }}</td></tr>
		</table>

	    <h4>In order to search, please enter your instagram handle and some search terms (seperated by commas)!</h4>
		<table class='search_params'>
			<tr><td>Instagram Username: </td><td> {{ instagram_username }}</td></tr>
		    <tr><td>Instagram Search Words: </td><td><input type="text" name="instagram_search_words" ng-model="instagram_search_words"></input></td></tr>
		    <tr><td>Harvest instagram user feed: </td><td> <input type="checkbox" ng-model="instagram_userfeed" ng-true-value="True" ng-false-value="False"></input></td></tr>
	    </table>
	    <div class='submits'>
		    <div class="btn btn-default" ng-click="setConfig({access_token:access_token, access_token_timestamp:access_token_timestamp, box:app.box, user:app.user['@id'], password:app.password, instagram_username:instagram_username, instagram_search_words:instagram_search_words, instagram_auth_status:instagram_auth_status, instagram_userfeed:instagram_userfeed, instagram_user_id:instagram_user_id})">Set config</div>
		    <div class="status">{{ status }}</div>
		</div>
	</div>	
	<div ng-show="!(selectedUser && selectedBox)">
		<h1>Please log in and select a box </h1>
	</div>
  </body>
    <!-- angular --> 
  <script src="js/ig.js" type="text/javascript"></script>  
  <script src="/lib/less/dist/less-1.6.2.min.js" type="text/javascript"></script>  
  <script src="/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/lib/underscore/underscore.js" type="text/javascript"></script>
  <script src="/lib/backbone/backbone-min.js" type="text/javascript"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- angular --> 
  <script src="/lib/angular/angular.min.js" type="text/javascript"></script>
  <script src="/lib/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
  <!-- indx --> 
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
  <script src="js/service_instagram.js" type="text/javascript"></script>  
</html>
