<!-- name --> 
<div class="row">
  <input class="selectable-description-display select-name" type="text"><%= text %></div>
</div>
<div class="row">
  <div class="span4">display name</div>
  <div class="span8"><input type="text" class="display-selected-name" disabled="true"></input></div>  
</div>
<div class="row">
  <div class="span4">name of establishment</div>
  <!-- todo : autocomplete on establishment gazeteers -->  
  <div class="span8"><input type="text" class="input-name"></input></div>  
</div>

<!-- location -->
<div class="row">
  <input class="selectable-description-display select-location" type="text"><%= text %></div>
</div>
<div class="row">
  <div class="span4">display location</div>
  <div class="span8"><input type="text" class="display-selected-location" disabled="true"></input></div>  
</div>
<div class="row">
  <div class="span4">name of location</div>
  <!-- todo : autocomplete on location gazeteers -->
  <div class="span8"><input type="text" class="location-input"></input></div>
</div>

<!-- --> 
<div class="row">
  <div class="span4">categories</div>
  <div class="span8"><input type="text" class="categories-input"></input></div>  
</div>
