
<!-- name -->
<div class="name">
  <div class="row">
	<div class="span12">
	  <h5>step 1: use your mouse to select the <span class="em">name</span> of the merchant/establishment</h5>
	</div>
  </div>
  <div class="row">
	<div class="span12">
	  <input class="selectable-description-display select-name" value="<%= statement %>"></input>
	</div>
  </div>
  <div class="row">  
	<div class="span2">name of establishment</div>
	<div class="span2"><input type="text" class="display-selected-name" disabled="true"></input></div>  
	<div class="span2"><input type="text" class="input-name"></input></div>  
  </div>
  <div class="row">
	<div class="span2">&nbsp;</div>
	<div class="span2">&nbsp;</div>  
	<div class="span2"><div type="text" class="match-name"></div><div class="btn name-not-specified">Not Specified</div></div>  
  </div>
</div>

<!-- location -->
<div class="loc">
<div class="row" style="margin-top:20px;">
  <div class="span12">
	<h5>step 2: select the <span class="em">location</span> of the merchant/establishment</h5>
  </div>
</div>
<div class="row">
  <div class="span12">
	<input class="selectable-description-display select-location" value="<%= statement %>"></input>
  </div>
</div>
<div class="row">
  <div class="span2">location</div>
  <div class="span2"><input type="text" class="display-selected-location" disabled="true"></input></div>  
  <!-- todo : autocomplete on location gazeteers -->
  <div class="span2"><input type="text" class="input-location"></input></div>
</div>
<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span2">&nbsp;</div>  
  <div class="span2"><div type="text" class="match-location"></div><div class="btn loc-not-specified">Not Specified</div></div>
</div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="span12">
	<h5>step 3: select a <span class="em">category</span></h5>
  </div>
</div>

<!-- --> 
<div class="row">
  <div class="span2">categories</div>
  <div class="span2"><select type="text" class="span4 categories-input chzn-select" multiple></select></div>
</div>
