<div class="day-container">
	<div class="datelabel">
		<span class="dow">{{ day.dow }}</span> <span class="day">{{ day.dom }}</span> <span class="month">{{ day.month }}</span>
	</div>
	<div class="segments">
		<div class="segment row" ng-repeat="seg in day.segments">
			<!-- columns --> 
			<div class="cell col-xs-1">
				<div class="times">{{ simpleTime(seg.tstart) }} - {{ simpleTime(seg.tend) }}</div>
				<div class="name">{{ seg.name }}</div>
			</div>
			<div class="cell col-xs-2">
				<locmap ng-show="seg.location" location="seg.location"></locmap>
			</div>
			<div class="moves cell col-xs-1">
				<div class="label">moves</div>
				<div ng-class="{distance:true, high:isHigh(seg.moves.distance), medium:isMed(seg.moves.distance), low:isLow(seg.moves.distance)}" ng-show="seg.moves.distance"> {{ seg.moves.distance/1000.0 }} km </div>
				<div ng-class="{steps:true, high:isHigh(seg.moves.steps), medium:isMed(seg.moves.steps), low:isLow(seg.moves.steps)}" ng-show="seg.moves.steps"> {{ seg.moves.steps }} steps </div>
				<div ng-class="{calories:true, high:isHigh(seg.moves.calories), medium:isMed(seg.moves.calories), low:isLow(seg.moves.calories)}" ng-show="seg.moves.caloriesdistance"> {{ seg.moves.calories }} kcals </div>
			</div>
			<div ng-show="seg.documents" class="documents cell col-xs-3">
				<ol>
					<li class="document" ng-repeat="d in seg.documents">
						<a ng-href="{{ d.peek('url') }}" target="_blank"><img class="favicon" ng-show="d.peek('favicon')" ng-src="{{ d.peek('favicon') }}">{{ d.peek('title') || 'unknown page' }}</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>