<div class="facet">
  <div class="num_items"> {{ elements.length }} </div>
  <!-- --> 
  <div class="dimensions">
  	<div class="dimension" ng-repeat="d in dimensions" ng-show="d.show">
  		<!-- discrete list --> 
  		<h2>{{ d.name }}</h2>
      <select class="form-control" multiple ng-model="d.selected">
      	<option ng-repeat="v in d.values" value="{{ v }}">
          {{ (d.facetformat && d.facetformat(v)) || v }}
        </option>
      </select>  
  	</div>
  </div>
  <!-- -->
  <div class="vals">
  	<ol> 
	  	<li ng-repeat="v in filtered_values" class="access"> 
	  		{{ datetimeFormat(v.tstart) }} :
        <a href="{{ v.url }}" target="_blank">
          <div class="page">
            <span class="title">{{ v.title }}</span>
            <span class="url">{{ strip(v.url) }}</span>
          </div>
        </a>
	  	</li>
  	</ol>
  </div>
</div>