<div class="facet">
  <div class="num_items"> {{ elements.length }} </div>
  <!-- --> 
  <div class="dimensions">
  	<div class="dimension" ng-repeat="d in dimensions" ng-show="d.show">
  		<!-- discrete list --> 
  		<h2>{{ d.name }}</h2>
      <select class="form-control" multiple>
      	<option ng-repeat="v in d.values" ng-model="d.selected">{{ (d.facetformat && d.facetformat(v)) || v }}</option>
      </select>  
  	</div>
  </div>
  <!-- -->
  <div class="vals">
  	<ol> 
	  	<li ng-repeat="v in filtered_values"> 
	  		{{ v.tstart }} - <a href="{{ v.url }}">{{ v.url }}</a> 
	  	</li>
  	</ol>
  </div>
</div>