<div class="facet">
  <div class="num_items"> {{ elements.length }} </div>
  <!-- --> 
  <div class="row">
  	<div class="col-xs-3 dimension" ng-repeat="d in dimensions" ng-show="d.show">
  		<!-- discrete list --> 
      <select class="form-control" multiple ng-model="d.selected">
      	<option ng-repeat="(k,v) in d.facetvals" value="{{ k }}" ng-class="{fade:(v===0)}">
          {{ (d.facetformat && d.facetformat(k)) || k }} ({{ v }})
        </option>
      </select>
  	</div>
    <div class="vals col-xs-6">
	  	<div ng-repeat="kv in main_values" class="page" ng-click="open_page(kv.key)" ng-show="kv.value.count > 0">   
           <img ng-src="{{ pages[kv.key].thumbnail }}" class='thumbnail'>
           <div class="duration">{{ format_mins(kv.value.duration/60000) }} min</div>
           <div class="count">{{ kv.value.count }}</div>
           <div class="title">{{ pages[kv.key].title }}</div>
           <div class="url">{{ strip(kv.key) }}</div>
      </div>
    </div>
  </div>
</div>