<html>
  <head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/angular-ui.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link rel="stylesheet/less" type="text/css" href="css/moves.less">	
	<title>INDX Moves Service</title>
  </head>
  <body ng-app="MovesConnector" ng-controller="ConfigPage" ng-cloak>
	    <toolbar box-var='selectedBox' username-var='selectedUser'></toolbar>
		<div class="main" ng-show="selectedUser && selectedBox">
		<h2>INDX Moves Connector</h2>

		<h4>Hello! <a href="http://moves-app.com" target="_blank">Moves App Connector</a> grabs
			stored readings of your movements and locations and stores them in INDX.
		<table class="status">
			<tr>
				<td> {{ runstate }} </td>
				<td><div class="btn btn-success" ng-click="doStart()">Start</div></td>
				<td><div class="btn btn-danger" ng-click="doStop()">Stop</div></td> 
			</tr>
		</table>

		<div class="alert alert-info" ng-show="!authcode">
			How to set up your Moves app:
			<ol>
				<li> <a href="https://dev.moves-app.com/apps">Register a new App with Moves by clicking here</a>.
				<li> In your app settings, set the <strong>redirect URL</strong> to be : <pre>{{ redirect_url }}</pre>
				<li> <div class='btn btn-default' ng-click="getAuthCode()">Click here to get an authorisation code</div>
				<li> Type in the code that appears in your moves app
			</ol>
		</div>
		<table class='params'>

		    <tr><td>Client ID </td><td><input type="text" ng-model="clientid"></input></tr>
		    <tr><td>Authorisation Code (obtained automatically from Moves):</td>
		    	<td class="authcode">
		    		<div ng-show="authcode">
		    			<pre>{{ authcode }}</pre><div class='clear btn btn-default glyphicon glyphicon-remove-circle' ng-click="clearAuthCode()"></div>
		    		</div>
	    		</td>
    		</tr>
		    <tr><td>Frequency (sleep milliseconds): </td><td><input type="text" name="sleep" ng-model="sleep"></input></td></tr>
	    </table>
		<table class='security'>
			<tr><td>INDX User</td><td><select ng-model="app.user" ng-options='u.name for u in users'></select></td></tr>
			<tr><td>INDX User's Password</td><td><input type="password" ng-model='app.password'></td></tr>
			<tr><td>Destination</td><td><select ng-model="app.box" ng-options='b for b in boxes'></select></td></tr>
			<tr><td><td>
			<div class="btn btn-warning" 
			ng-show="app.user && app.box && (app.user['@id'] !== selectedUser.id) && !granted"
			ng-click="grantACL(app.user, app.box)">Authorise {{ app.user.name }} to have access to {{ app.box }}</div>
			<div ng-show="granted" class="granted"> {{ granted_status }} </div>
		</td></tr>
		</table>
	    <div class='submits'>
		    <div class="btn btn-default" ng-click="setConfigFromScope()">Set config</div>
		    <div class="status">{{ status }}</div>
		    <div class="output" ng-bind-html-unsafe="stdout"></div>
   		    <div class="output">{{ stderr }}</div>
		</div>
	</div>	
	<div ng-show="!(selectedUser && selectedBox)" class="main">
		<h1>Please log in and select a box </h1>
	</div>
  </body>
  <script src="/js/vendor/lesscss.min.js" type="text/javascript"></script>  
  <script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="/js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="/js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <!-- angular --> 
  <script src="/js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="/js/vendor/angular-ui.js" type="text/javascript"></script>
  <!-- indx --> 
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
  <script src="js/moves-config.js" type="text/javascript"></script>  
</html>
