f<!doctype html>
<html lang="en">
<head>
	<link href="/lib/angular-ui/build/angular-ui.min.css" rel="stylesheet"/>
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less"/>
  <link rel="stylesheet/less" type="text/css" href="css/timon.less"/>
	<title>timon - tw-inspired microblog on indx</title>
</head>
<body ng-app="timon" ng-controller="main" ng-cloak>
  <toolbar box-var='selected_box' username-var='userLoggedIn'></toolbar>
  <h1 ng-if="!userLoggedIn">please log in</h1>
  <!-- --------- add Following Modal -------------------------->
  <div class="addFollowingModal modal fade" id="addFollowingModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">add a follow:</h4>
        </div>
        <div class="modal-body">
          <h5><a href="" target="_blank">WebID</a> or channel URI:</h5>
          <input type="text" ng-model="input.new_following_url" placeholder='https://' entercall='addFollowing(input.new_following_url) && clearInput("new_following_url")'></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="addFollowing(input.new_following_url) && clearInput('new_following_url')|| closeAddFollowing()">+ add following</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  
  <!-- --------- manage Following Modal --------------------------> 
  <div class="followingModal modal fade" id="followingModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">following:</h4>
        </div>
        <div class="modal-body">
          <div class="following_list">
            <table>
              <tr ng-repeat="n in following | orderObjectBy:'followed':true">
                 <td class="url"><a href="" target="_top">{{ n.peek('url') }}</a></td><td> <div class="btn" ng-click="deleteFollowing(n)">&times;</div> </td>
              </tr>
            </table>
          </div>
          <div class="addchan">add a follow:
              <input type="text" ng-model="input.new_following_url" placeholder='https://' entercall="addFollowing(input.new_following_url) && clearInput('new_following_url')">
              <button type="button" class="btn btn-primary" ng-click="addFollowing(input.new_following_url) && clearInput('new_following_url') && closeAddFollowing()">+ add</button>
          </div> 
        </div><!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->    
  <!-- --------- config Modal --------------------------> 
  <div class="configModal modal fade" id="configModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">configure timon</h4>
        </div>
        <div class="modal-body">
          <div>
            <h5>display name:</h5>
            <input type="text" ng-model="config.displayname"></input>
          </div>
          <div>
            <h5>profile pic:</h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="saveConfig(config)">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  
  <!-- --------- Main --------------------------> 
  <div class="timonmain" ng-if="userLoggedIn">
    <div class="profilecard">
      <div class="identity">
        <div class="name">{{ name }}</div>
        <div class="configbtn btn glyphicon glyphicon-cog" data-toggle='modal' data-target='#configModal'></div>
        <div class="stats">
          <span data-toggle='modal' data-target='#followingModal'>following</span>
          <div class="count">
            <span data-toggle='modal' data-target='#followingModal'>{{ _(following).pairs().length }}</span> 
            <span class="addbtn" data-toggle='modal' data-target='#addFollowingModal'>+</span>
          </div>
        </div>
        <div class="stats">followers <div class="count">{{ followers.length }}</div></div>
      </div>
      <div class="compose">
        <textarea class="newpostinput" ng-model="input.newpostinput" ng-focus='newfocus=true' entercall="addPost(input.newpostinput) && clearInput('newpostinput')" autofocus></textarea>
        <div class="newpoststats" ng-if="newfocus">
          <div class="length">{{ 140 - input.newpostinput.length }}</div>
          <div class="submit btn btn-default" ng-disabled='input.newpostinput.trim().length === 0' ng-click="addPost(input.newpostinput) && clearInput('newpostinput')">post</div>
        </div>
      </div>
    </div>
    <div class="timeline">
      <h2>timeline</h2>
      <div class="timons">
        <tipost ng-repeat='t in timeline | orderObjectBy:"created":true' model="t" ng-animate></tipost>
      </div>
    </div>
  </div>
  <script src="/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/lib/less/dist/less-1.6.2.min.js" type="text/javascript"></script>
  <script src="/lib/underscore/underscore.js" type="text/javascript"></script>
  <script src="/lib/backbone/backbone.js" type="text/javascript"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/lib/angular/angular.min.js" type="text/javascript"></script>
  <script src="/lib/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-ws.js" type="text/javascript"></script>
  <script src="/js/indx-channel.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
  <script src="js/timon.js" type="text/javascript"></script>
  <script src="js/tipost.js" type="text/javascript"></script>
</body>
</html>