<div class="indx-boxlist-box">
    <div class="count">{{ obj_count }}</div>
    <div class="boxactionicon">
        <div class="btn imgbtn" ng-click="deleteBox();">
            <img ng-src="img/edit-delete.png" />
        </div>
        <div class="btn imgbtn" ng-click="emptyBox()">
            <img ng-src="img/edit-clear.png" />
        </div>
    </div>
    <div class="name">
        <a href="/apps/boxie/#/{{ box.id }}" target="_blank">{{ box.id }}</a>
    </div>
    <div class="visual_gettoken">
        <span class="glyphicon glyphicon-phone" ng-click="show_qrcode=!show_qrcode">
    </div>
    <div ng-if="show_qrcode" ng-class="{token_qrcode_display:true, visible:show_qrcode}">
        <h2> authentication token for {{ box.id }} </h2>
        <!--<pre>{{ boxtoken }}</pre>-->
        <token-qrcode box="box"></token-qrcode>
    </div>
</div>