<div>
	<div class="login-window" ng-show="!user.username" ng-animate="{show: 'animate-show',hide: 'animate-hide'}" ng-cloak>
		<div class="logo">
			<h4>welcome to</h4>
			<p><img class="logo" src="img/indx.png"></img></p>
		</div> 
		<ul ng-show="!user.username" class='userlist'>
			<li ng-repeat='u in users'>
				<a ng-click="selectUser(u)"><user model='u' ></user></a>
			</li>
		</ul>
	</div>
	<div class="password-dialog" ng-show="user.username" ng-animate="{show: 'animate-show',hide: 'animate-hide'}" ng-cloak>
		<form ng-submit="doSubmit()">
			<div class="username" ng-click="backToLogin()">
				<div class="glyphicon glyphicon-remove goback"></div>
				{{ user.username }} :
			</div>
			<div class="controls">
				<input type="password" id="loginPassword" class="loginPassword passwordField" focus-on-show="user.username" ng-model="user.password"></input>
				<div class="glyphicon glyphicon-chevron-right submit" ng-click="doSubmit()"></div>
			</div>
		</form>
	</div>
</div>