<!DOCTYPE html>
<html lang="en">
  <head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/angular-ui.css" rel="stylesheet">
	<link href="/css/select2.css" rel="stylesheet"/>
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link rel="stylesheet/less" type="text/css" href="css/devtools.less">
	<title>INDX Developer Tools</title>
  </head>
  <body ng-app="devtools" ng-controller="main"  ng-cloak>
    <toolbar box-var='selected_box' username-var='selected_user'></toolbar>
	<div>

	  <div ng-show="selected_user && selected_box" class="foo row-fluid tabbable">
		<div class="foo span12">
		  <ul class="nav nav-pills">
			<li class="active"><a href="#status" data-toggle="tab">Status</a></li>
			<li><a href="#apidocs" data-toggle="tab">Docs</a>
			<li><a href="#testing" data-toggle="tab">Tests</a>
			<li><a href="#other" data-toggle="tab">Other</a>
		  </ul>
		  <div class="tab-content">
			<div class="tab-pane active" id="status">
			  <p>INDX Status</p>
			  <statuspane></statuspane>
			</div>
			<div class="tab-pane" id="apidocs">
				<p>See <a href="/docs/docsgen.html">docsgen documentation</a> for instruction on how to build api docs.</p>
			  <table class="table">
			  	<thead><th>Name</th><th>Status</th><th>Actions</th></thead>
			  	<tbody>
					<tr ng-repeat="doc in docs">
						<td ng-if="doc.built"><a href="/{{doc.url}}">{{doc.name}}</a></td>
						<td ng-if="!doc.built">{{doc.name}}</td>
						<td>
							<div ng-if="doc.built">Built</div>
							<div ng-if="!doc.built">Documentation has not been built.</div>
						</td>
						<td><button class="btn btn-primary" ng-disabled="building_docs[doc.name]" ng-click="build_doc(doc)" ng-if="doc.built">Rebuild</button>
						<button class="btn btn-primary" ng-disabled="building_docs[doc.name]" ng-click="build_doc(doc)" ng-if="!doc.built">Build</button></td>
					</tr>
				</tbody>
			  </table>
			</div>
			<div class="tab-pane" id="testing">
			  <table class="table">
			  	<thead><th>Name</th><th>Status</th><th>Actions</th></thead>
			  	<tbody>
					<tr ng-repeat="test in tests">
						<td ng-if="test.built"><a href="/{{test.url}}">{{test.name}}</a></td>
						<td ng-if="!test.built">{{test.name}}</td>
						<td>
							<div ng-if="test.built">---</div>
							<div ng-if="!test.built">Tests have not been run.</div>
						</td>
						<td><button class="btn btn-primary" ng-disabled="running_tests[test.name]" ng-click="run_test(test)">Run</button></td>
					</tr>
				</tbody>
			  </table>
			</div>
			<div class="tab-pane" id="other">
			  <p>other</p>
			</div>
		  </div>
		</div>
	  </div>
	  <div ng-show="!selected_user">
		<h2> please log in  </h2>
	  </div>
	  <div ng-show="selected_user && !selected_box">
		<h2> please select a box  </h2>
	  </div>
	</div><!-- main -->
  </body>
  <script src="/js/vendor/lesscss.min.js" type="text/javascript"></script>
  <script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="/js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="/js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <!-- angular -->
  <script src="/js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="/js/vendor/angular-ui.js" type="text/javascript"></script>
  <!-- indx -->
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
  <script src="js/devtools.js" type="text/javascript"></script>
</html>
