.main {
   width:700px;
   margin-left:auto;margin-right:auto;
   padding-top:100px;
}
h4 {
  margin:0px; padding:0px;
}
.save {
  left:550px; top:10px;
}
.selectable-font, .selectable-description-display {
   font-family:courier, lucida typewriter;
   font-size:14px;   
}     
.selectable-description-display {
   width:680px;
   border:none;
   border-left: 1px solid #eee;
   border-right : 1px solid #eee;
   &:focus { outline: none; }
   // padding-bottom:10px;
   padding-top:0px;
   margin-top:0px;
}
.lbl {
  text-align:right;
}
.round-holder {
   // position:relative;
   padding:10px;
   border:1px solid #eeeeee;
}      
.em {
  color:#ff69b4;
} 
.selectable {
  position:relative;
  overflow:none;
  margin-bottom:14px;
}
.selectable .highlight {
  position:absolute;
  overflow:none;
  background-color:#ff69b4;
  z-index:-1;
}
.select-name, .select-location {
  background-color:rgba(255,255,255,0.1);
  z-index:10;
}  
.map_canvas {
  height:200px;
  width:400px;
}          
.map-result {
  padding:4px;
  border: 1px solid white;  
  cursor:pointer;
  &:hover {  border: 1px solid black;   }
}           