.main {
   width:700px;
   margin-left:auto;margin-right:auto;
   padding-top:100px;
}     
.selectable-description-display {
   font-size:48pt;
   border: none;
   border:none;
   
   width:100%;
   &:focus {outline: none; }
   padding-bottom:10px;
}                               