.main {
   width:700px;
   margin-left:auto;margin-right:auto;
   padding-top:100px;
}
h4 {
  margin:0px; padding:0px;
}
.selectable-description-display {
   width:680px;
   font-size:28pt;
   font-family:courier, lucida typewriter;
   border:none;
   border-left: 1px solid #eee;
   border-right : 1px solid #eee;
   &:focus {outline: none; }
   padding-bottom:10px;
   padding-top:0px;
   margin-top:0px;
}  
.round-holder {
   position:relative;
   padding:10px;
   border:1px solid #eeeeee;
}      
.em {
  color:#ff69b4;
}   