<h1>Obj#{{ currObj.id }}</h1>

<div>timestamp (user)</div>

<h4>Attributes</h4>
<table class="table">
	<thead><th>Name</th><th>Type</th><th>Value</th><th>Language</th></thead>
	<tbody class="monospace">
		<tr ng-repeat="attribute in currObj.attributeArray">
			<td>{{ attribute.key }}</td>
			<td>{{ attribute.type }}</td>
			<td ng-show="!attribute.isArray">{{ attribute.value }}</td>
			<td ng-show="attribute.isArray">
				<ul class="list-unstyled">
					<li ng-repeat="item in attribute.value">
						[{{$index}}] =>
							<span ng-show="item.fetch"><a href="#">Obj#{{item.id}}</a> - </span> <span class="text-muted">{{ item }}</span>
					</li>
				</ul>
			</td>
			<td>{{ attribute.language }}</td>
		</tr>
	</tbody>
</table>

<h4>JSON</h4>
<div class="obj-preview">
	<ul class="icons">
		<li><a title="Edit" ng-click="currObj.edit()"><i class="glyphicon glyphicon-pencil"></i></a></li>
		<li><a title="Delete" ng-click="currObj.delete()"><i class="glyphicon glyphicon-remove"></i></a></li>
	</ul>
	<pre>{{ pop(currObj.valString) }}</pre>
</div>

