<ul>
	<li ng-repeat="obj in objs.models" ng-include="'partials/obj.html'"></li>
</ul>

<div class="preview-pane" ng-show="objs.selected">
	<ul class="icons" hidden>
		<li><a title="Analyse" ng-click="objs.selected.analyse()"><i class="glyphicon glyphicon-eye-open"></i></a></li>
		<li hidden><a title="Edit" ng-click="objs.selected.edit()"><i class="glyphicon glyphicon-pencil"></i></a></li>
		<li hidden><a title="Delete" ng-click="objs.selected.delete()"><i class="glyphicon glyphicon-remove"></i></a></li>
	</ul>
	<pre>{{ pop(objs.selected.valString) }}</pre>
</div>

<div class="obj-view" ng-show="currObj" ng-include="'obj_view.html'"></div>