
<table class="table obj-list" ng-show="objs && !curr_obj">
	<thead>
		<tr><th>ID</th><th width="180" hidden>Last edited</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="obj in objs.models" ng-include="'partials/obj.html'" ng-click="obj.select()"></tr>
	</tbody>
</table>

<div class="preview-pane" ng-show="objs.selected">
	<ul class="icons" hidden>
		<li><a title="Analyse" ng-click="objs.selected.analyse()"><i class="glyphicon glyphicon-eye-open"></i></a></li>
		<li hidden><a title="Edit" ng-click="objs.selected.edit()"><i class="glyphicon glyphicon-pencil"></i></a></li>
		<li hidden><a title="Delete" ng-click="objs.selected.delete()"><i class="glyphicon glyphicon-remove"></i></a></li>
	</ul>
	<pre>{{ pop(objs.selected.val_string) }}</pre>
</div>

<div class="obj-view" ng-show="curr_obj" ng-include="'obj_view.html'"></div>