<html>
  <head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/angular-ui.css" rel="stylesheet">
	<!-- warning: this will leak your location to leaflet js --> 
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link rel="stylesheet/less" type="text/css" href="css/location.less">	
	<title>INDX GeoLocation</title>
  </head>
  <body ng-app="sensors" ng-controller="location" ng-cloak>
	<toolbar box-var='selected_box' username-var='selected_user'></toolbar>
	<div>
	  <div id="map" ng-show="selected_user && selected_box"></div>
		  
	  <div ng-show="selected_user && selected_box">
		<div class='title'><b>INDX</b> : longitude</div>
	  </div>
	  
	  <div class="container">
		<div ng-show="!selected_user">
		  <h2> please log in to load your location lifelog  </h2>
		</div>
		<div ng-show="selected_user && !selected_box">
		  <h2> please select a box  </h2>
		</div>		
	  </div>
	  <div class="geolocate" ng-show="selected_user && selected_box">
		<div ng-class="{btn:true, locate:true, disabled:loading}" ng-click="locate()" ng-show="selected_user && selected_box"><span class='glyphicon glyphicon-map-marker'></span></div>
		<div class='latlng' ng-show="location && !error">
		  lat:<b>{{ location.latitude | number:4 }}</b>, lon:<b>{{ location.longitude | number:2 }}</b>
		</div>
		<div class='latlng error' ng-show="error">
		  {{ error }}
		</div>		
	  </div>
	  <div class="history" ng-show="selected_user && selected_box">
		<div>
		  <table>
			<tr ng-repeat="day in by_day">
			  <td class="timelabel">
				{{ to_date_string(day.start) }}
			  </td>
			  <td class="locations">
				<ol>
				  <li ng-repeat="loc in day.locations">
					<div class="timespan">{{ to_time_string(loc.get('start')[0]).slice(0,-2) }}-{{ to_time_string(loc.get('end')[0]) }}</div>:
					<div class='latlng-coords' ng-mouseover="hover_history(loc.get('latitude')[0], loc.get('longitude')[0])">
					  [ {{ loc.get('latitude')[0] | number:4 }}, {{ loc.get('longitude')[0] | number:4 }} ]
					</div> 
				  </li>
				</ol>
			  </td>
		  </table>
		</div>
	  </div> <!-- history --> 
	</div>
  </body>
  <script src="/js/vendor/lesscss.min.js" type="text/javascript"></script>  
  <script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="/js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="/js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <!-- angular --> 
  <script src="/js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="/js/vendor/angular-ui.js" type="text/javascript"></script>

  <!-- indx --> 
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>

  <!-- leaflet --> 
  <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
  <script src="js/location.js" type="text/javascript"></script>  
</html>
