<div class="undo" ng-show="todo.justCompleted">
	<a href="#" ng-click="todo.undo()"><i class="icon-undo"></i> Undo</a>
</div>
<div class="todo-body">
	<div class="todo-hover-top"></div>
	<div class="todo-urgency" ng-class="'urgency-' + ((todo.isEditing || todo.isDragging) && todo.getStagedAttribute('urgency') || todo.getAttribute('urgency'))">
		<div class="todo-urgency-arrows" ng-show="todo.isEditing">
			<div class="todo-urgency-up" ng-click="todo.setUrgency(+1)"><div class="arrow-head"></div></div>
			<div class="todo-urgency-down" ng-click="todo.setUrgency(-1)"><div class="arrow-head"></div></div>
		</div>
	</div>
	<div class="todo-handle" draggable-handle><div class="drag-dots"><i class="dot"></i><i class="dot"></i><i class="dot"></i></div></div>
	<div class="todo-checkbox" ng-show="!todo.isEditing" ng-click="todo.toggle()">
		<span class="icon icon-ok tick"></span>
	</div>
	<div class="todo-title">
		<span ng-show="todo.isEditing">{{ todo.getStagedAttribute('title') }}</span>
		<span ng-show="!todo.isEditing">{{ todo.getAttribute('title') }}</span>
		&nbsp;
		<textarea
			placeholder="todo..."
			focus-me="todo.isEditing"
			selectionStart="{{todo.cursorPos}}"
			selectionEnd="{{todo.cursorPos}}"
			ng-model="todo.stagedAttributes.title"
			ng-focus="todo.edit()"
			ng-change="todo.checkNewline()"
			ng-trim="false">
		</textarea>
	</div>
	<div class="todo-hover-bottom"></div>
</div>