@import "/css/indx-ui/mixins.less";
@import url(http://fonts.googleapis.com/css?family=Port+Lligat+Slab|Playball);

@t-fn: cubic-bezier(0.250, 0.460, 0.450, 0.940);
@t-dur: 0.3s;

body {
  overflow-x: hidden;
}

.indx-navbar .navbar-brand {
    font-family: 'Playball', serif;
    font-size: 33px;
}

.todo-lists {
  overflow: auto;

  .dropping {
    background-color: #fbeed5 !important;
  }
  .icon {
    color: #333;
  }
}

.app-container, .app-container .indx-navbars {
  .indx-sidebar {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    * {
      overflow: hidden;
      white-space: nowrap;
    }
    .transition(width @t-dur @t-fn;);
  }
  .indx-main {
    margin-left: 0;
    .transition(margin-left @t-dur @t-fn;);
    &.indx-navbar {
      left: 0;
      .transition(left @t-dur @t-fn;);
    }
  }
  &.split {
    .indx-sidebar {
      width: 250px !important;
    }
    .indx-main {
      margin-left: 250px;
      &.indx-navbar {
        margin-left: 0;
        left: 250px;
      }
    }
  }
}

ul.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li.todo-placeholder {
    height: 0;
    background: #ccc;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3) inset;
    &.animate {
      .transition(height 0.06s linear;);
    }
  }

  li.todo-item {
    position: relative;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #eee;
    background: #ccc;
    z-index: 5;

    .transition(box-shadow @t-dur @t-fn, border-bottom-color @t-dur @t-fn, opacity @t-dur @t-fn;);


    .undo {
      position: absolute;
      width: 150px;
      font-weight: bold;
      font-size: 20px;
      margin-right: -14px;
      z-index: 0;
      a {
        display: block;
        padding: 24px 0 24px 20px;
        color: white;
      }
    }

    &:hover {
      .todo-body .todo-handle { display: block; }
    }


    &.completed {
      .todo-body, textarea {
        background: #eee;
        color: #444;
      }
      .todo-urgency {
        background-color: #666 !important;
        .todo-urgency-arrows { display: none; }
      }
      .todo-body .todo-checkbox .tick {
        display: block;
        color: #666;
      }
    }

    &.justcompleted {
      z-index: 4;
      .todo-body {
        margin-left: 120px;
        opacity: 0;
        margin-top: -80px;
        .transition(margin-left 0.3s linear, opacity 3s linear, margin-top 0.3s linear 3s;);
      }
    }


    &.ui-draggable-dragging {
      z-index: 1000;
      box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.1);
    }

    &.editing {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      border-bottom-color: white;
      z-index: 20;
      .todo-body {
        .todo-urgency {
          width: 75px;
        }
        .todo-title textarea {
          opacity: 1;
        }
      }
    }

    &.disabled {
      opacity: 0.35;
    }

    .todo-body {
      position: relative;
      .transition(margin-left @t-dur @t-fn, opacity 0.3s linear, background-color @t-dur @t-fn;);
      margin-left: 0;
      background: white;
      opacity: 1;

      .todo-hover-top, .todo-hover-bottom {

      }
      .todo-checkbox {
        position: absolute;
        left: 32px;
        top: 24px;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        cursor: pointer;
        .tick {
          margin-top: 2px;
          margin-left: 3px;
          font-size: 22px;
          display: none;
          color: #ccc;
        }
        &:hover .tick {
          display: block;
        }
      }
      .todo-handle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 26px;
        cursor: move;
        padding: 26px 12px;
        display: none;
        z-index: 1;
      }
      .todo-title {
        margin-left: 80px;
        padding: 24px 0;
        padding-left: 5px;
        font-size: 20px;
        font-family: verdana, sans-serif;
        font-weight: bold;
        min-height: 26px;
        padding-right: 20px;
        position: relative;
        cursor: text;

        textarea {
          position: absolute;
          top: 0;
          right: 0;
          left: -3px;
          bottom: 0;
          font-weight: bold;
          border-color: transparent;
          background: transparent;
          resize: none;
          padding: 23px 20px 23px 7px;
          outline: 0;
          opacity: 0;
        }
      }
      .todo-urgency {
        position: absolute;
        left: 0;
        top: 0;
        bottom: -1px;
        width: 5px;
        z-index: 2;
        .transition(width @t-dur @t-fn 0.1s, background-color @t-dur @t-fn;);

        .todo-urgency-arrows {
          & > div {
            position: relative;
            width: 100%;
            height: 50%;
            .transition(background-color @t-dur @t-fn;);
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
            }
            .arrow-head {
              position: absolute;
              left: 30px;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              width: 0;
              height: 0;
            }
          }
          .todo-urgency-up {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            .arrow-head {
              border-bottom: 8px solid white;
              bottom: 40%;
            }
          }
          .todo-urgency-down {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            .arrow-head {
              border-top: 8px solid white;
              top: 40%;
            }
          }
        }
      }
    }
  }
}


.urgency-low {
  background-color: #33CC00 !important;
  border-color: #33CC00 !important;
  color: white;
  .todo-urgency-down { opacity: 0.4; }
}
.urgency-med {
  background-color: #FFCC00 !important;
  border-color: #FFCC00 !important;
  color: black;
}
.urgency-high {
  background-color: #FF9900 !important;
  border-color: #FF9900 !important;
  color: white;
}
.urgency-urgent {
  background-color: #FF0000 !important;
  border-color: #FF0000 !important;
  color: white;
  .todo-urgency-up { opacity: 0.4; }
}


@media (max-width: 400px) {
  .indx-main {
    .indx-navbar .form-group {
      width: 150px;
      margin-top: 2px;
    }

    ul.todo-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li.todo-item {
        &.editing {
          .todo-body {
            .todo-urgency {
              width: 43px;
            }
          }
        }
        .todo-body {
          .todo-urgency {
            .todo-urgency-arrows {
              & > div {
                .arrow-head {
                  left: 14px;
                }
              }
            }
          }
          .todo-checkbox {
            width: 20px;
            height: 20px;
            top: 14px;
            left: 16px;
          }

          .todo-title {
            font-size: 15px;
            padding-top: 14px;
            padding-bottom: 14px;
            min-height: 20px;
            margin-left: 46px;
            textarea {
              padding-top: 13px;
              padding-bottom: 11px;
            }
          }
        }
      }
    }
  }
}

.fade-hide, .fade-show {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.fade-hide {
    opacity:1;
}
.fade-hide.fade-hide-active {
    opacity:0;
}
.fade-show {
    opacity:0;
}
.fade-show.fade-show-active {
    opacity:1;
}


.dlg-container {
  width: 100%;
  position: fixed;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
}

.dlg {
  display: inline-block;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
  .dlg-title {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
  }
  .dlg-body {
    padding: 20px;
    width: 300px;
  }
  .dlg-controls {
    button {
      box-sizing: border-box;
      background: white;
      border-bottom-width: 0;
      border-right-width: 0;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      width: 50%;
      height: 40px;
      &:first-child {
        border-left-width: 0px;
        border-radius: 0 0 0 5px;
      }
      &:last-child {
        border-radius: 0 0 5px 0;
      }
    }
  }
}

@icon-w: 35px;

.todo-list-icons {
  width: (@icon-w) * 7;
  height: (@icon-w) * 4;
  margin: 10px 5px 15px;
  .icon {
    display: inline-block;
    width: @icon-w;
    height: @icon-w;
    padding: 5px;
    line-height: @icon-w - 10px;
    cursor: pointer;
    color: #333;
    &:hover {
      background: #eee;
    }
    &.active {
      background: #fbeed5;
      color: #000;
    }
  }
}