@import url(http://fonts.googleapis.com/css?family=Wallpoet);

.monospace {
  font-family: monospace;
}

.indx-navbar.indx-sidebar .navbar-brand {
  font-family: 'Wallpoet', cursive;
    font-size: 33px;
}

.boxie-container {
  margin: 0 auto;

  h2 {
    position: absolute;
    text-align: center;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    top: 0px;
  }
  h3 {
    font-family: 'Wallpoet', cursive;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    margin: 0;
  }

  .object-list {
    padding: 0 10px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 6px;
        margin: 0 4px 4px 0;
        display: inline-block;
        width: 180px;
        max-height: 200px;
        overflow: hidden;
        border: 1px solid #eee;
        cursor: pointer;

        &:hover {
          background: #eee;
        }
      }


    }
  }

}

textarea {
  width: 100%;
  height: 400px;
}

td.obj-id {
  .truncate {
    overflow: hidden;
    white-space: nowrap;
    .text-muted {
      font-family: monospace;
    }
  }
}

table.obj-list {
  table-layout:fixed;
  overflow:hidden;
  white-space: nowrap;
}

.obj-preview {
  position: relative;
}

.preview-pane {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  padding: 10px;
  .icons {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    li {
      display: inline;
      padding: 4px;
    }
  }
  pre {
    position: absolute;
    top: 40px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    overflow: auto;
  }
}

ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 15px;
  overflow: hidden;
  li {
    .obj {
      white-space: nowrap;
      overflow:hidden;
      padding: 8px 10px;
      border-bottom: 1px solid #eee;
      margin-left: -100px;
      padding-left: 100px;
      &:hover {
        background: #eee;
        outline: 1px solid #ddd;
      }
    }
  }
}

.name {
  font-weight: bold;
}