.indx-toolbar {
  .navbar {
    background: rgba(255, 255, 255, 0.8);
  }
}

.obj-toolbar {
  margin-top: 50px;
  height: 40px;
  padding: 8px 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.3);
}

.obj-list {
  @li-height: 34px;
  padding: 10px;
  ul.objs {
    padding: 0;
    margin: 0;
    list-style: none;
    height: @li-height * 15;
    overflow: hidden;
    border-top: 1px solid #eee;
    white-space: nowrap;
    li {
      height: @li-height;
      line-height: @li-height;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
      margin: 0;
      line-height: @li-height;
    }
  }
}

.dlg-container {
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  .dlg {
    padding: 10px;
    margin: 150px auto 0;
    width: 500px;
    min-height: 400px;
    max-height: 800px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      overflow: auto;
    form {
    }
  }
}

.blur {
  z-index: 10000;-webkit-filter: blur(4px) contrast(0.7) grayscale(0.3);
}