<!-- Modal -->
<div id="login_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginlabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loginlabel">please log in to webbox</h3>
  </div>
  <div class="modal-body">
	<div class="row">
		<div class="span2 right-align">your username:</div><div class="span4"><input type="text" name="username" class="username_field"></input></div>
	</div>
	<div class="row">
	  <div class="span2 right-align">your password:</div><div class="span4"><input type="password" name="password" class="password_field"></input></div>		
	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="loginbtn btn btn-primary" data-dismiss="modal">Log in</button>
  </div>
</div>

<div id="logout_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logoutlabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="logoutlabel">log out of webbox?</h3>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <button class="logoutbtn btn btn-primary" data-dismiss="modal">Yes</button>
  </div>
</div>
