.toolbar div.spinner {
	position:absolute;
	right:20px; top:10px;
	width:20px; height:20px;	
	display: inline-block;
	text-align:right;

	/*
	position: absolute;
	margin: -27px 0px 0px -27px;
	top:50%;
	left:50%;
	width: 54px;
	height: 54px;
	display: inline-block;
	*/
}

.toolbar div.spinner div {
	width: 12%;
	height: 26%;
	background: #000;
	position: absolute;
	left: 44.5%;
	top: 37%;
	opacity: 0;
	-webkit-animation: fade 1s linear infinite;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.toolbar div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
.toolbar div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
.toolbar div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
.toolbar div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
.toolbar div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
.toolbar div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
.toolbar div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
.toolbar div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
.toolbar div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
.toolbar div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
.toolbar div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
.toolbar div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}
