<div ng-app="webbox" controller="toolbar" class="navbar-inner ng-cloak">
  <div class="brand">webbox
	<div class="spinner"><div ng-repeat="i in u.range(12)" class="bar{{ i + 1 }}"></div></div>
  </div>
  <ul class="nav">
	<li class="btn-group">
	  <button class="btn selected-box">select a box</button>
	  <button class="btn dropdown-toggle boxes" data-toggle="dropdown"><span class="caret"></span> </button>
	  <ul class="dropdown-menu boxlist">
		<li ng-repeat="box in boxlist" onclick="cb_box_selected(box)" >{{ box.id }}</li>
	  </ul>
	</li>
	<li class="login_display">
	  <a role="button" onclick="cb_login_logout_clicked">{{ username || not_logged_in }}</a>
	</li>	
  </ul>
</div>
