@import url('spinner.css');
.toolbar {
	position:relative;
}
.toolbar .brand {
	margin-left:0px !important;
	/*position:absolute; top:0px; left:0px; right:0px; */
}
.right-align{
	text-align:right;
}
.modal-backdrop {
	-webkit-filter:	blur(10px) grayscale(.5) opacity(0.8) !important;
}
.modal {
	-webkit-filter:	blur(0.5px) grayscale(.5) opacity(0.9) !important;
}