
@import url('/components/toolbar/spinner.less');
body.modal-open { margin: 0px !important; }
.indx-toolbar {
	color:#aaa;
	.login-btn, label, .modal-header {
		font-variant:small-caps;
		font-size:120%;
		line-height:90%;
		font-weight:100;
	}
	position:relative;
	margin:0px 0px 0px 0px !important;
	* { box-sizing:border-box; }
	&.hide { display:none; }	
    .right-align{ text-align:right;   }
	.navbar-brand { font-weight: 100; font-size:180%; margin-left:15px;}
    .modal-backdrop {
		// -webkit-filter:	blur(10px) grayscale(.5) opacity(0.8) !important;
    }
    .modal {
		// -webkit-filter:	blur(0.5px) grayscale(.5) opacity(0.9) !important;
	}
	#logout-dialog {
		.buttons {
			position:absolute;
			right:20px; bottom:20px;
		}
		.logout-msg {  
			font-size: 32pt;
			font-weight:100;
			padding-bottom:44px;
		}
	}
	#logout-dialog .modal-header .close {
		margin-right:-5px;
		margin-top:-10px;
	}
	label {
		font-weight:100;
		font-variant:normal;
	}
	.navbar .nav .dropdown-toggle .caret {
		margin-top:8px;
		margin-bottom:8px;
	}
	.btn-group > .dropdown-menu li {
		padding:2px 4px 2px 4px;
		margin:5px;
		border-radius:2px;
		&:hover {
			background-color:rgba(240,240,255,0.9) !important;
		}
	}
    .modal-footer { vertical-align:middle;  }
    .login-btn {
    	color:#666;
    	position:absolute;
		right:8px; top:9px;
		background-color:rgba(247,247,247,1.0);
		border:1px solid rgba(0,0,0,0.1);
		padding-top:3px; padding-bottom:8px;
	}	
	.box-selector {
		margin:9px 0px 0px 9px;
		* { font-size:88%; color:#aaa !important; }
		.btn {
			background-color:rgba(0,0,0,0);
			border:1px solid rgba(0,0,0,0.1);
		}
	}
	 /*
    .login_dialog, .logout_dialog {
		* { font-weight:100 !important; }
       .btn { font-weight:200 !important; }
		form {
			margin: 0px;
			.control-group { margin-bottom:10px; }
			color:#111;			
			input[type=text],input[type=password] {
				font-family:'Consolas', 'Monaco', monospace;
				font-size:12pt;
				height:2.0em;
				outline: none !important;
				-webkit-outline: none !important;
				border:none;
				border-bottom: 1px solid #eee;
				box-shadow:none;
				border-radius:0px;
			}		
		}
		div.error {
			display:inline-block;
			line-height:20px;
			width:340px;
			border:1px solid rgba(240,100,100,0.20);
			color:rgba(240,100,100,1.0);
			background-color: rgba(240,100,100,0.05);
			border-radius:2px;
			text-align:left;
			padding:6px 11px 6px 11px;
			margin:0px 15px 0px 0px;
		}
		div.spinner {
			display:inline-block;
			position:relative;
			width:30px !important; height:30px !important;
			padding:4px 20px;
			margin:-10px 6px -10px 10px;
			opacity:0.7;
		}
    } 
    */
}
