
@import url('/components/toolbar/spinner.less');

.indx-toolbar {
	.hide { display:none; }
	position:relative;
	* { box-sizing:border-box; }
	margin-top:5px;
    .brand {
		position:relative;
		margin-left:0px !important;
    }
    .right-align{ text-align:right;   }
    .modal-backdrop {
		// -webkit-filter:	blur(10px) grayscale(.5) opacity(0.8) !important;
    }
    .modal {
		// -webkit-filter:	blur(0.5px) grayscale(.5) opacity(0.9) !important;
    }
	.navbar .nav .dropdown-toggle .caret {
		margin-top:8px;
		margin-bottom:8px;
	}
	.btn-group > .dropdown-menu li {
		padding:2px 4px 2px 4px;
		margin:5px;
		border-radius:2px;
		&:hover {
			background-color:rgba(240,240,255,0.9) !important;
		}
	}
    .modal-footer { vertical-align:middle;  }
    .login_logout_btn { position:absolute; right:20px; }
    .login_dialog {
		form {
			margin: 0px;
			.control-group { margin-bottom:10px; }
			input {
				font-size:12pt;
				height:2.0em;
			}		
		}
		div.error {
			display:inline-block;
			line-height:20px;
			width:340px;
			border:1px solid rgba(240,100,100,0.20);
			color:rgba(240,100,100,1.0);
			background-color: rgba(240,100,100,0.05);
			border-radius:2px;
			text-align:left;
			padding:6px 11px 6px 11px;
			margin:0px 15px 0px 0px;
		}
		div.spinner {
			display:inline-block;
			position:relative;
			width:30px !important; height:30px !important;
			padding:4px 20px;
			margin:-10px 6px -10px 10px;
			opacity:0.7;
		}
    }    
}
