<div class="ng-cloak indx-toolbar" ng-show="visible">
	<div class="navbar navbar-default">
	  	<div class="navbar-inner" ng-init="_initialise()">
		  <div class="navbar-brand">INDX
			<div class="spinner" ng-show="loading > 0">
			  <div ng-repeat="i in u.range(12)" class="bar{{ i + 1 }}"></div>
			</div>
		  </div>
		  <ul class="nav box-selector">
			<li ui-if="is_logged_in()" class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle selected-box" ng-bind-html-unsafe="box || 'select a box'" data-toggle="dropdown"></button>
			  <ul class="dropdown-menu boxlist" role='menu'>
				<li ng-repeat="boxid in boxlist" ng-click="cb_box_selected(boxid)" >{{ boxid }}</li>
			  </ul>
			</li>
		  </ul>
	      <a data-toggle="modal" href="#login-dialog" ui-if-"!is_logged_in()" class="btn btn-primary login-btn">log in</a>
		  <a data-toggle="modal" href="#logout-dialog" ui-if="is_logged_in()" class="btn btn-primary login-btn"> 
			{{ username }} <span ng-bind-html-unsafe="usericon"></span>
		  </a>
		</div> <!-- navbar-inner -->
	</div>
  	<!-- login dialog -->
	<div id="login-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginlabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role="form">
					<div class="modal-header">
						<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
						<span class="text">please log in</span>
					</div>
					<div class="modal-body">
						<!-- 
							AUTOCOMPLETE TURNED OFF BECAUSE OF HORRIBLE PROBLEMS WITH BROWSERS + ANGULARJS 
							See: https://github.com/angular/angular.js/issues/1460#issuecomment-18572604
						-->
						<div class="form-group">
							<label for="login-username">username:</label>
							<input type="text" id="login-username" class="form-control" ng-model="_login_username" autofocus autocomplete='off'></input>		
					  	</div>
						<div class="form-group">
							<label for="login-password">password:</label>
							<input type="password" id="login-password" class="form-control" ng-model="_login_password" autocomplete='off'></input>
						</div>
					</div>
				  <div class="modal-footer">
					<div class='error' ng-show='error' ng-bind-html-unsafe='error'></div>
					<div class="spinner" ng-show="loading > 0">
					  <div ng-repeat="i in u.range(12)" class="bar{{ i + 1 }}"></div>
					</div>		  
					<a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
					<input type="submit" data-dismiss="modal" class="btn btn-primary" value="Log in" ng-click="loginbox_try_login(	_login_username,_login_password)"></input>
				  </div>
				</form>
			</div> <!-- modal-content -->
		</div> <!-- modal-dialog -->
	</div> <!-- modal -->
  	<!-- logout dialog -->
	<div id="logout-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logoutlabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				</div>
				<div class="modal-body">
					<div class="logout-msg">Log out?</div>
					<div class='buttons'>
						<a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
						<input type='submit' id="logout-ok" class="btn btn-primary" data-dismiss="modal" ng-click="do_logout()" autofocus value="Yes, log out"></button>
					</div>
				</div>
		</div>
	</div>
</div>