<div class="ng-cloak indx-toolbar" ng-show="visible">
        <div class="navbar navbar-default navbar-static-top">
                <div class="navbar-inner" ng-init="_initialise()">
                        <div class="spinner" ng-show="loading > 0">
                                <div ng-repeat="i in u.range(12)" class="bar{{ i + 1 }}"></div>
                        </div>
                        <!-- either the brand (if not an app) or the apps' icon -->
                        <div class="navbar-brand" ng-show="!getAppID()">INDX</div>
                        <div class="navbar-app-brand" ng-show="getAppID()">
                            <img class="appicon" ng-show="appicon_url" ng-src="{{ appicon_url }}">
                            <span> {{ appname | lowercase }} </span>
                        </div>
                        <!-- end of branding -->
                        <button data-toggle="modal" href=".login-dialog" ng-show="!isLoggedIn()" class="btn btn-primary login-btn"><label>log in to indx</label></button>
                        <button data-toggle="modal" href=".logout-dialog" ng-show="isLoggedIn()" class="btn btn-primary login-btn is-logged-in">
                                <label>{{ user.name }}</label><div class='usericon' ng-bind-html-unsafe="usericon"></div>
                        </button>
                        <div ng-show="isLoggedIn()"  class="btn-group box-selector">
                                <div type="button" 
                                    class="btn btn-default dropdown-toggle selected-box"  
                                    data-toggle="dropdown">{{ box || 'select a box' }}
                                    &nbsp <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu boxlist" role='menu'>
                                    <li ng-repeat="boxid in boxlist" ng-click="cbBoxSelected(boxid)" >{{ boxid }}</li>
                                </ul>
                        </div>
                </div> <!-- navbar-inner -->
        </div>
        <div class="login-dialog modal fade" tabindex="-1" role="dialog" aria-labelledby="loginlabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <userlist model="users" ng-controller="ToolbarLogin"></userlist>
                        </div>
                </div>
        </div>
        <div class="logout-dialog modal fade" tabindex="-1" role="dialog" aria-labelledby="logoutlabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                                LOG OUT
                            </div>
                            <div class="modal-body">
                                <div class="logout-msg">Log out {{ user.name }}?</div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                                <input type='submit' id="logout-ok" class="btn btn-primary" data-dismiss="modal" ng-click="doLogout()" autofocus value="Yes, log out"></button>
                            </div>
                        </div>
                </div>
        </div>
        <div class="new-box-dialog modal fade" tabindex="-1" role="dialog" aria-labelledby="newboxlabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <form role="form">
                                        <div class="modal-header">
                                                <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                                                <span class="text">please name your box</span>
                                        </div>
                                        <div class="modal-body">
                                                <!-- 
                                                        AUTOCOMPLETE TURNED OFF BECAUSE OF HORRIBLE PROBLEMS WITH BROWSERS + ANGULARJS 
                                                        See: https://github.com/angular/angular.js/issues/1460#issuecomment-18572604
                                                -->
                                                <div class="form-group">
                                                        <label for="new-bid">box name:</label>
                                                        <input type="text" id="new-bid" class="form-control" ng-model="_newBid" autofocus autocomplete='off'></input>                
                                                  </div>
                                        </div>
                                  <div class="modal-footer">
                                        <div class='error' ng-show='error' ng-bind-html-unsafe='error'></div>
                                        <div class="spinner" ng-show="loading > 0">
                                          <div ng-repeat="i in u.range(12)" class="bar{{ i + 1 }}"></div>
                                        </div>                  
                                        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                                        <input type="submit" data-dismiss="modal" class="btn btn-primary" value="Create box" ng-click="createNewBox(_newBid)"></input>
                                  </div>
                                </form>
                        </div> <!-- modal-content -->
                </div> <!-- modal-dialog -->
        </div> <!-- modal -->
</div>