<div class="diary-entry">
	<div class="delete" ng-click="deleteMe(entry)">x</div>
	<div class="created_time">{{ toTimeString(entry.peek('created')) }}</div>

	<!-- phrasetype --> 
	<div ng-show="entry.peek('journaltype')=='phrase'">
		<div class="phrase">{{ entry.peek('phrase') }}</div>
		<input type="text" ng-model='entryvalue'>
	</div>
	<div class="contents" ng-show="entry.peek('journaltype')=='text'">
		<auto-expanding-textarea model='entry.entryvalue'></auto-expanding-textarea>
	</div>	
</div>