* {
	box-sizing:border-box;
	:focus { outline: none !important; }
}
.alert {
	margin-top:42px;
}
.home {
	.header  {
		position:absolute;
		right:50px;
		top:50px;		
		font-size:200%;
		text-align:right;
		font-family:'helvetica neue';
		font-weight:100;
	}
}

