* { -webkit-font-smoothing:subpixel-antialiased; }

html, body {
	min-height:100%; 
	min-width:100%;  
}
body {
	background-color:#ddd;
}

// all dialogs
.modal-dialog {
	color:#888;
	margin:70px auto;
}

// addFollowingModal
.addFollowingModal {
	input {
		width:100% !important;
		font-size:14pt;
	}
}

// followingModal
.followingModal {
	.modal-footer, .modal-header { background-color:#fefefe !important; } 
	.modal-body {
		padding:0px;
	}
	.following_list {
		width:100%;
		border:1px solid #eee;
		height:316px;
		overflow-y:scroll;
		table {
			width:100%;
			td.url { 
				width:91%;	
				padding:3px 20px;
			}
			tr { 
				border-bottom:1px solid #eee;
			}
		}
	}
	.addchan { 
		margin:0px;
		background:#EFEFEF !important;
		padding:4px 10px 10px 10px;
		font-weight:200;
		input { 
			color:#222;
			font-weight:400;
			margin:0px 10px;
			width:400px;
		}
	}
	.modal-footer { 
		margin-top:0px;
	}
}

.timonmain {
	h1,h2,h3,h4 { font-weight:200; color:#aaa; margin-top:10px; }
	* { 
		box-layout:border-box;
		font-family:'helvetica neue', 'helvetica';
	}
	height:100% !important;	
	.profilecard {
		position:absolute;
		top:60px;
		left:40px;
		width:290px;
		height:210px;
		padding:0px; 
		background-color:white;
		border-radius:4px;		
		.identity {
			position:relative;
			color:#666;
			padding:85px 20px 20px 20px;
			.name { 
				font-size:18pt;
			}
			.stats { 
				font-variant:small-caps;
				width:49%;
				.count { 
					vertical-align:top;
					color:#00bbff;
					font-size:16pt;
					.addbtn { 
						padding:0px;
						position:relative; 
						top:-4px;
						margin:0px 0px 0px 5px;
						font-size:18pt;
						color:#aaa;
						&:hover {
							color:#00bbff;
							font-weight:bold;
						}
					} 
				}
				display:inline-block;
			}
			.configbtn {
				font-family:"Glyphicons Halflings" !important;
				position:absolute;
				right:10px; top:10px;
			}
		}
		.compose {
			position:relative;
			padding:10px 10px 10px 10px;
			background:#EFEFFF !important;
			border-top:1px solid #eee;
			.newpostinput {
				width:100%;
				height:88px;
				border:1px solid #eee;
				border-radius:4px;
				padding:4px;
				font-size:12pt;
				color:#444;
			}
			.newpoststats { 
				position:relative;
				padding:0px 0px 0px 0px !important;
				.length { font-size:16pt; color:#888; font-weight:200; }
				.submit { 
					position:absolute;
					right:0px;
					top:0px;
				}
			}
		}
	}

	// posts!
	.timeline {
		background-color:white;
		width:590px;
		margin-left:360px;
		margin-top:60px;
		border-radius:4px;
		padding-top:6px; 
		padding-left:14px;
		padding-right:14px;

			-webkit-transition:all 1.4s ease-in-out;
			-moz-transition:all 1.4s ease-in-out;
			-o-transition:all 1.4s ease-in-out;
			transition:all 1.4s ease-in-out;

		.tipost {
			overflow:hidden;
			padding:10px 0px 10px 10px;
			border-bottom:1px solid #eee;
			.content {
				margin-left:47px;
				.profilepic { 
					float:left;
					margin-left:-47px;
					margin-top:3px;
					height:38px; width:38px;
					border-radius:3px;
					background-color:#888;
				}
				.authorline { 
					vertical-align:top;
					div { display:inline-block; vertical-align:top; }
					.username { font-weight:bold; color:black; }
					.fullname, .datetime { font-size: 10pt; color:#888; }
				}
				.body { 
					font-size:12pt;
					padding:0px 0px 4px 0px;
				}
				.controls {
					div { 
						font-size:12pt;
						font-family:"Glyphicons Halflings" !important;
						color:#aaa;
						display:inline-block; 
						margin:0px 30px;
						padding:5px 10px;
						border-radius:22px;
					}
					padding:0px;
					margin:0px;
				}
			}
			max-width:588px;
			max-height:156px;
			// transform: translate3d(0,0,0); // force 3D accel
			// position:absolute;

 
			-webkit-transition:all 0.5s ease-in-out;
			-moz-transition:all 0.5s ease-in-out;
			-o-transition:all 0.5s ease-in-out;
			transition:all 0.5s ease-in-out;
			&.ng-enter {
				padding:0px 0px 0px 10px;
				max-height:0px;
			}
			&.ng-enter-active {
				padding:10px 0px 10px 10px;
				max-height:200px;
			}
			&.ng-leave {
				padding:10px 0px 10px 10px;
				max-height:200px;
			}
			&.ng-leave-active {
				padding:0px 0px 0px 10px;
				max-height:0px;
			}

		}
		min-height:100% !important;		
	}
}


