<html>
  <head>
	<link href="/css/angular-ui.css" rel="stylesheet">
	<link href="/css/select2.css" rel="stylesheet"/>
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link rel="stylesheet/less" type="text/css" href="css/todos.less">
	<link rel="stylesheet/less" type="text/css" href="/css/indx-ui/indx-ui.less">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
	<title>Todo list</title>
  </head>
  <body>
	<div ng-app="todos" ng-controller="todos" ng-cloak class="no-select">
  		<div class="alert alert-danger" ng-show="false">Failed to load</div>
  		<div ng-show="!selected_user || !selected_box"> <!-- we'll get rid of this one day -->
			<toolbar box-var='selected_box' username-var='selected_user'></toolbar>

			<div class="container">
				<div ng-show="!selected_user" class="need-log-in">
					<div class="white-cover"></div>
					<div class="center-title"><h2 class="alert alert-info">Please log in to load your todo lists</h2></div>
					<div class="instruct-arrow">
						<div class="arrow-horiz">
							<div class="arrow-horiz-line"></div>
						</div>
						<div class="arrow-vert">
							<div class="arrow-vert-line"></div>
							<div class="arrow-head-up"></div>
						</div>
					</div>
				</div>
				<div ng-show="selected_user && !selected_box" class="need-select-box">
					<div class="white-cover"></div>
					<div class="center-title"><h2 class="alert alert-info">Please select a box</h2></div>
					<div class="instruct-arrow">
						<div class="arrow-horiz">
							<div class="arrow-horiz-line"></div>
						</div>
						<div class="arrow-vert">
							<div class="arrow-vert-line"></div>
							<div class="arrow-head-up"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="selected_user && selected_box">
			<div class="indx-navbars">
				<nav class="indx-sidebar indx-navbar" role="navigation">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">Todo lists</a>
					</div>
					<ul class="nav navbar-nav navbar-right" ng-show="!editing_todo">
						<li><a href="#" ng-click="todo_lists.new_model()"><i class="icon-plus"></i></a></li>
					</ul>
				</nav>
				<nav class="indx-main indx-navbar" role="navigation">
					<div href="#" class="navbar-header">
						<span class="navbar-brand hidden-xs">{{ todo_lists.selected.get_attribute('title') }}</span>
						<a href="#" class="navbar-header visible-xs" ng-click="mobile_menu = !mobile_menu">
							<span class="navbar-brand">{{ todo_lists.selected.get_attribute('title') }}</span>
							<span class="caret"></span>
						</a>
					</div>
					<ul class="nav navbar-nav navbar-left hidden-xs">
						<li><a href="#" ng-click="todo_lists.selected.edit()" ng-show="!editing_todo"><i class="icon-cog"></i></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-show="!editing_todo">
						<li ng-show="!search"><a href="#" ng-click="search = true"><i class="icon-search"></i></a></li>
						<li ng-show="search" ng-animate="'fade'">
							<form role="search">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-2 col-xs-3">
											<button class="btn btn-default" ng-click="show_completed = !show_completed;" ng-class="{ active: show_completed }" title="Show completed todos"><i class="icon-list"></i></button>
										</div>
										<div class="col-sm-10 col-xs-9">
											<input class="form-control" type="text" placeholder="search" ng-model="search_text">
											<a href="#" class="clear_search" ng-click="search_text = ''; search = false;"><i class="icon-remove-sign"></i></a>
										</div>
									</div>
								</div>
							</form>
						</li>
  						<li><a href="#" ng-click="todo_lists.selected.todos.new_model()"><i class="icon-plus"></i></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-show="editing_todo">
						<li><a href="#" ng-click="editing_todo.remove()"><i class="icon-trash"></i></a></li>
  						<li><a href="#" ng-click="editing_todo.save_staged()"><i class="icon-ok"></i></a></li>
					</ul>
				</nav>
			</div>

			<div class="indx-content">
				<div class="visible-xs">
					<div class="slide-menu todo-list-menu" ng-show="mobile_menu" ng-animate="'slide-menu'">
						<ul class="nav nav-pills nav-stacked" ng-click="mobile_menu = false;">
							<li><a href="#" ng-click="todo_lists.selected.edit()"><i class="icon-cog"></i> Todo list settings</a></li>
							<li ng-show="!show_completed"><a href="#" ng-click="show_completed = true"><i class="icon-check-empty"></i> Show completed todos</a></li>
							<li ng-show="show_completed"><a href="#" ng-click="show_completed = false"><i class="icon-check"></i> Hide completed todos</a></li>
							<li class="title">Todo lists</li>
							<li class="thick separator"></li>
							<li ng-class="{ active: todo_list.is_selected }" ng-repeat="todo_list in todo_lists.all_models"><a href="#" ng-click="todo_list.select()">
								<i class="icon-list"></i>
								{{ todo_list.get_attribute('title') }}
							</a></li>
							<li class="separator"></li>
							<li><a href="#" ng-click="todo_lists.selected.edit()"><i class="icon-plus"></i> New todo list</a></li>
		  				</ul>
					</div>

					<div class="modal-cover modal-fixed" ng-show="mobile_menu" ng-animate="fade" ng-click="mobile_menu = false"></div>
				</div>

				<div class="indx-sidebar">
					<ul class="indx-list-flat todo-lists">
						<li ng-repeat="todo_list in todo_lists.all_models" ng-click="todo_list.select()" ng-class="{ active: todo_list.is_selected }" ><a href="#" droppable>
							<i class="icon icon-{{ todo_list.get_attribute('icon') }}"></i>
							{{ todo_list.get_attribute('title') }}
						</a></li>
					</ul>
					<div class="modal-cover" ng-show="editing_todo" ng-animate="fade" ng-click="editing_todo.restore()"></div>
				</div>

				<div class="indx-main">
					<ul class="todo-list" ng-show="todo_lists.selected" sortable>
						<li ng-repeat="todo in todo_lists.selected.todos.all_models | filter:todosFilter" class="todo-item" ng-class="{
							completed: todo.attributes.completed[0],
							editing: todo.is_editing,
							disabled: !todo.is_editing && !!editing_todo,
							justcompleted: todo.just_completed
						}" ng-include="'partials/todo.html'"  ng-click="todo.is_editing || editing_todo.restore();"></li>
					</ul>
				</div>
			</div>
		</div>


		<div ng-show="todo_lists.selected.is_editing">

			<div class="modal-cover modal-fixed" ng-animate="fade" ng-click="todo_lists.selected.restore()"></div>

			<div class="dlg-container">
				<div class="dlg">
					<div class="dlg-title">Edit todo list</div>
					<form ng-submit="todo_lists.selected.save_staged()">
						<div class="dlg-body">
							<input class="form-control" width="255" type="text" placeholder="Title" ng-model="todo_lists.selected.staged_attributes.title">
							<div class="todo-list-icons">
								<a href="#" ng-repeat="icon in icons" ng-click="todo_lists.selected.staged_attributes.icon = icon"><i class="icon icon-{{icon}}" ng-class="{active:todo_lists.selected.get_staged_attribute('icon') === icon}"></i></a>
							</div>
							<button type="button" class="btn btn-danger" ng-click="todo_lists.selected.remove()">Delete this todo list</button>
						</div>
						<div class="dlg-controls">
							<button type="button" ng-click="todo_lists.selected.restore()">Close</button><button type="submit">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
  </body>
  <script src="/js/vendor/lesscss.min.js" type="text/javascript"></script>
  <script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
  <script src="/js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="/js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <!-- angular -->
  <script src="/js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="/js/vendor/angular-ui.js" type="text/javascript"></script>

  <!-- indx -->
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/js/indx-collection.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
  <script src="js/todos.js" type="text/javascript"></script>
  <script src="js/models.js" type="text/javascript"></script>
</html>
