<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/angular-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/select2.css">
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link href="/css/jquery-ui.min.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="/css/indx-ui/indx-ui.less">
	<link rel="stylesheet/less" type="text/css" href="todos.less">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<title>Todo list</title>
</head>
<body ng-app="todos" ng-controller="todos" ng-cloak ng-escape="closeListDropdown()">
	<toolbar box-var='selectedBox' username-var='selectedUser'></toolbar>

	<div class="todos-messages alert alert-info" ng-if="msg">{{ msg }}</div>

	<div class="todos-main-body" ng-if="!msg">
		<div class="todos-sidebar">
			<ul>
				<li 	ng-repeat="list in lists" 
						ng-click="selectList(list)"
						class="special-{{ list.attributes.special[0] }}"
						ng-class="{	selected: list === s.selectedList,
									editing: list === s.editingList,
									loading: list.loading,
									special: list.attributes.special }"
						droppable>
					<form ng-submit="saveList(list, list === s.newList)">
						<div class="title">
							<input 	type="text" 
									placeholder="My todo list"
									ng-model="list.staged.attributes.title[0]" 
									ng-disabled="list !== s.editingList"
									ng-blur="normalLists.length === 0 || cancelEditList()"
									ng-escape="cancelEditList()"
									set-focus="list === s.editingList">
						</div>
						<div class="static count">{{ list.attributes.count[0] }}</div>
						<div class="dropdown" ng-class="{ open: s.showingListDropdown === list }" ng-if="list !== s.editingList && !list.attributes.special[0]">
							<div class="dropdown-button" click-elsewhere="closeListDropdown()" ng-click="toggleListDropdown(list)"><i class="fa fa-caret-down"></i></div>
							<ul ng-show="s.showingListDropdown === list" class="dropdown-menu" >
								<li ng-click="editList(list)"><a href="#">Rename</a></li>
								<li ng-click="deleteList(list)"><a href="#">Delete</a></li>
							</ul>
						</div>
						<input type="submit">
					</form>
				</li>
				<li ng-click="createList()" ng-if="!s.editingList"><div class="title text-muted">New todo list</div></li>
			</ul>
		</div>
		<div class="todos-body">
			<div class="alert alert-info intro-step intro-step-create-list" ng-if="s.isFirstList">
				<i class="fa fa-long-arrow-left"></i>
				<h3>Create your first todo list</h3>
				<p>Enter a name for your list and press enter.</p>
			</div>
			<ul ng-if="s.selectedList.attributes.special[0] || s.selectedList.isCreated()" sortable>
				<li 	class="todo"
						ng-repeat="todo in todos"
						ng-class="{	loading: todo.loading,
									special: s.selectedList.attributes.special[0],
									completed: todo.attributes.completed[0] }">
					<a class="todo-create-before" ng-click="createTodoBefore(todo)" ng-if="!s.selectedList.attributes.special">
						<div class="line"><div class="i"><i class="fa fa-plus"></i></div></div>
					</a>
					<form ng-submit="saveTodo(todo)"  class="todo-body">
						<div class="gripper" draggable-handle><i></i><i></i><i></i></div>
						<div class="completedBox" ng-click="toggleTodoCompleted(todo)">
							<i class="fa fa-check" ng-if="todo.attributes.completed[0]"></i>
						</div>
						<div class="title">
							<input 	type="text" 
									placeholder="My todo"
									ng-model="todo.staged.attributes.title[0]" 
									ng-blur="saveTodo(todo)"
									ng-escape="cancelEditTodo(todo)"
									set-focus="!todo.attributes.title[0]"
									set-blur="finishedEditingTodo(todo)">
						</div>
						<div ng-if="s.selectedList.attributes.special[0]" class="list-title">
							{{ todo.list.attributes.title[0] }}
						</div>
					</form>
				</li>
				<li class="end-cap">
					<a class="todo-create-before" ng-click="createTodoBefore()" ng-if="!s.selectedList.attributes.special">
						<div class="i"><i class="fa fa-plus"></i></div>
					</a>
				</li>
			</ul>
			<div class="alert alert-info intro-step intro-step-create-todo" ng-if="!s.selectedList.attributes.special && s.selectedList.isCreated() && !todos.length">
				<i class="fa fa-long-arrow-up"></i>
				<h3>Create your first todo</h3>
				<p>Click the <i class="fa fa-plus"></i> button above.</p>
			</div>
		</div>
	</div>

	<script src="/js/vendor/lesscss.min.js" type="text/javascript"></script>
	<script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
	<script src="/js/vendor/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/js/vendor/underscore.min.js" type="text/javascript"></script>
	<script src="/js/vendor/backbone.min.js" type="text/javascript"></script>
	<!-- angular -->
	<script src="/js/vendor/angular.min.js" type="text/javascript"></script>
	<script src="/js/vendor/angular-ui.js" type="text/javascript"></script>

	<!-- indx -->
	<script src="/js/indx.js" type="text/javascript"></script>
	<script src="/js/indx-utils.js" type="text/javascript"></script>
	<script src="/js/indx-staged.js" type="text/javascript"></script>
	<script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
	<script src="todos.js" type="text/javascript"></script>
	<script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
