<html>
  <head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/angular-ui.css" rel="stylesheet">
	<link href="/css/select2.css" rel="stylesheet"/>
	<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
	<link rel="stylesheet/less" type="text/css" href="css/todos.less">
	<title>Todo list</title>
  </head>
  <body>
	<div ng-app="todos" ng-controller="todos" ng-cloak>
		<toolbar box-var='selected_box' username-var='selected_user'></toolbar>


		<div class="container">
			<div ng-show="!selected_user">
				<h2> please log in to load your todo list </h2>
			</div>
			<div ng-show="selected_user && !selected_box">
				<h2> please select a box  </h2>
			</div>
		</div>

		<div class="todos-container" ng-show="selected_user && selected_box">
			<div class="todos-titlebar">
				<h2 class="title">Todo list</h2>
				<div class="title-controls" hidden>
					<div class="search"><input type="text"></div>
					<div class="sortby">
						<select>
							<option value="urgency" selected>Urgency</option>
							<option value="time">Created</option>
						</select>
					</div>
				</div>
			</div>

			<div id="todo-list">
				<section ng-repeat="todo_group in todo_groups" ng-show="todo_group.by_time.length > 0">
					<h3 ng-show="todo_groups[0].by_time.length > 0">{{ todo_group.title }}</h3>
					<ul>
						<li ng-repeat="todo in todo_group.by_time" class="todo-item" ng-class="{ completed: todo.get('completed'), editing: todo.editing }">
							<div class="todo-left-overflow" ng-class="'urgency-' + todo.get('urgency')[0]">
								<div class="todo-urgency">{{ todo.get('urgency')[0] }}</div>
								<div ng-show="todo.today">Today</div>
							</div>
							<div class="todo-body">
								<div class="todo-checkbox"></div>
								<div class="todo-title" ng-show="!todo.editing" ng-click="toggle_todo(todo);">{{ todo.get('title')[0] }}</div>
								<div class="todo-title" ng-show="todo.editing"><input type="text" ng-model="todo.get('title')[0]" placeholder="todo..."></div>
							</div>
							<div class="todo-controls">
								<button type="button" ng-show="!todo.editing" class="btn todo-hover" ng-click="edit_todo(todo)"><i class="icon-edit"></i></button>
								<button type="button" ng-show="todo.editing" class="btn btn-primary" ng-click="save_todo(todo)"><i class="icon-ok"></i></button>
								<button type="button" ng-show="todo.editing" class="btn" ng-click="edit_todo()"><i class="icon-remove"></i></button>
							</div>
							<div class="todo-meta" ng-show="todo.editing">
								<div class="todo-urgency-slider">
									<div class="progress">
										<div class="bar urgency-low" style="width: 25%;" ng-click="todo.get('urgency')[0] = 'low'"><div class="tick"></div></div>
										<div class="bar urgency-med" style="width: 25%;" ng-click="todo.get('urgency')[0] = 'med'"><div class="tick"></div></div>
										<div class="bar urgency-high" style="width: 25%;" ng-click="todo.get('urgency')[0] = 'high'"><div class="tick"></div></div>
										<div class="bar urgency-urgent" style="width: 25%;" ng-click="todo.get('urgency')[0] = 'urgent'"><div class="tick"></div></div>
									</div>
									<div ng-class="'pointer urgency-' + todo.get('urgency')[0]"></div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<section>
					<ul>
						<li class="todo-item">
							<div id="create_todo" style="padding-top: 100px;">
								<input type="text" id="todo_title" placeholder="todo">
								<div ng-class="{btn:true,  disabled:loading}" ng-click="create_todo()" ng-show="selected_user && selected_box">Create</div>
								<div class='todo error' ng-show="error">
									{{ error }}
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
  </body>
  <script src="/js/vendor/lesscss.min.js" type="text/javascript"></script>
  <script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="/js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="/js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <!-- angular -->
  <script src="/js/vendor/angular-beta.min.js" type="text/javascript"></script>
  <script src="/js/vendor/angular-ui.js" type="text/javascript"></script>

  <!-- indx -->
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
  <script src="js/todos.js" type="text/javascript"></script>
</html>
