<a href="#manifest/{{ manifest.id }}/" title="{{ manifest.get('description') }}" class="col1">
	<img ng-src="{{ manifest.icon }}" class="icon">
	<div class="name">{{ manifest.get('name') }}</div>
	<div class="meta">
		<span class="version">{{ manifest.get('version') }}</span>
	</div>
</a>
<div class="col2">
	<a href="#manifest/{{ manifest.id }}/documents" class="stamp1" ng-class="'docs-icon ' + manifest.documents.mode" title="{{ manifest.documents.modeDescription[1] }}">
		<i class="fa fa-book"></i> 
		<span class="note">{{ manifest.documents.modeDescription[0] }}</span>
	</a><a href="#manifest/{{ manifest.id }}/tests" class="stamp2" ng-class="'tests-icon ' + manifest.tests.mode" title="{{ manifest.tests.modeDescription[1] }}">
		<i class="fa fa-shield"></i> 
		<span class="note">{{ manifest.tests.modeDescription[0] }}</span>
	</a>
</div>