<div class="header">
	<img src="{{ manifest.get('icons')['128'] }}" class="icon">
	<h1>{{ manifest.get('name') }}</h1>
	<ul class="nav nav-tabs">
		<li ng-class="{ active: pane === 'overview' }"><a href="#manifest/{{ manifest.id }}">Overview</a></li>
		<li ng-class="{ active: pane === 'documentation' }"><a href="#manifest/{{ manifest.id }}/documentation">Documentation</a></li>
		<li ng-class="{ active: pane === 'tests' }"><a href="#manifest/{{ manifest.id }}/tests">Tests</a></li>
	</ul>
</div>

<div class="tab-pane" ng-if="pane === 'overview'">
	<p class="description">
		{{ manifest.get('description') }}
	</p>
	<table class="table">
		<tbody>
			<tr><th>ID</th><td>{{ manifest.id }}</td></tr>
			<tr><th>Version</th><td>{{ manifest.get('version') }}</td></tr>
			<tr><th>Authors</th><td>
				<div ng-repeat="author in manifest.get('author')">{{ author.name }}</div>
			</td></tr>
		</tbody>
	</table>
</div>

<div class="tab-pane" ng-if="pane === 'documentation'">
</div>

<div class="tab-pane" ng-if="pane === 'tests'">
</div>