<div class="header">
	<img ng-src="{{ manifest.get('icons')['128'] }}" class="icon">
	<h1>{{ manifest.get('name') }}</h1>
	<ul class="nav nav-tabs">
		<li ng-class="{ active: pane === 'overview' }"><a href="#manifest/{{ manifest.id }}">Overview</a></li>
		<li ng-class="{ active: pane === 'documentation' }"><a href="#manifest/{{ manifest.id }}/documentation">Documentation</a></li>
		<li ng-class="{ active: pane === 'tests' }"><a href="#manifest/{{ manifest.id }}/tests">Tests</a></li>
	</ul>
</div>

<div class="tab-pane" ng-if="pane === 'overview'">
	<p class="description">
		{{ manifest.get('description') }}
	</p>
	<table class="table">
		<tbody>
			<tr><th>ID</th><td>{{ manifest.id }}</td></tr>
			<tr><th>Version</th><td>{{ manifest.get('version') }}</td></tr>
			<tr><th>Authors</th><td>
				<div ng-repeat="author in manifest.get('author')">{{ author.name }}</div>
			</td></tr>
		</tbody>
	</table>
</div>

<div class="tab-pane" ng-if="pane === 'documentation'">
	<nav class="navbar navbar-default navbar-static-top nav-mini" role="navigation">
		<form class="navbar-form navbar-left" ng-if="manifest.documentation.isAvailable">
			<button type="button" class="btn btn-default btn-sm" ng-click="manifest.documentation.build()">Build</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="manifest.documentation.refresh()" ng-if="manifest.documentation.isBuilt">Refresh</button>
			<a href="{{ manifest.documentation.get('url') }}" target="_blank" class="btn btn-default btn-sm" ng-if="manifest.documentation.isBuilt">View standalone</a>
		</form>
		<p class="navbar-text navbar-right" ng-if="manifest.documentation.isBuilt">Last built on</p>
	</nav>
	<div ng-if="manifest.documentation.isBuilding">
		<p class="description">Please wait, documentation is being built.</p>
		<div class="progress progress-striped active">
			<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
		</div>
	</div>
	<div ng-if="!manifest.documentation.isBuilding">
		<div ng-if="!manifest.documentation.isAvailable">
			<p class="description">No documentation has been provided.</p>
		</div>
		<div ng-if="manifest.documentation.isAvailable">
			<div ng-if="!manifest.documentation.isBuilt">
				<p class="description">Documentation needs to be built.</p>
			</div>
			<div ng-if="manifest.documentation.isBuilt">
				<iframe ng-src="{{ manifest.documentation.get('url') }}" onload="resizeIFrame(this)"></iframe>
			</div>
		</div>
	</div>
</div>

<div class="tab-pane" ng-if="pane === 'tests'">
	<nav class="navbar navbar-default navbar-static-top nav-mini" role="navigation">
		<form class="navbar-form navbar-left" ng-if="manifest.tests.isAvailable">
			<button type="button" class="btn btn-default btn-sm" ng-click="manifest.tests.run()">Run</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="manifest.tests.start()">Start</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="manifest.tests.refresh()" ng-if="manifest.tests.haveBeenRun">Refresh</button>
			<a href="{{ manifest.tests.get('url') }}" target="_blank" class="btn btn-default btn-sm" ng-if="manifest.tests.haveBeenRun">Download results</a>
			<button type="button" class="btn btn-default btn-sm" ng-click="manifest.tests.editingParams = true" ng-if="manifest.tests.params">Parameters</button>
		</form>
		<p class="navbar-text navbar-right" ng-if="manifest.tests.haveBeenRun">Last tested on</p>
	</nav>
	<div class="modal-bg" ng-show="manifest.tests.editingParams">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="manifest.tests.editingParams = false">&times;</button>
					<h4 class="modal-title">Edit test parameters</h4>
				</div>
				<div class="modal-body">
					<table><tbody>
						<tr ng-repeat="param in manifest.tests.params">
							<th>{{param.title}}</th>
							<td>
								<input type="{{ param.type }}" ng-model="param.value" class="form-control">
							</td>
						</tr>
					</tbody></table>
				</div>
				<div class="modal-footer">
					<button ng-click="manifest.tests.editingParams = false">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="!manifest.tests.length">
		<p class="description">No tests has been provided</p>
	</div>
	<div ng-if="manifest.tests.length">
		<div ng-if="manifest.tests.isRunning">
			<p class="description">Please wait, tests are running.</p>
			<div class="progress progress-striped active">
				<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			</div>
		</div>
		<div ng-if="!manifest.tests.isRunning && !manifest.tests.isLoading && !manifest.tests.results">
			<p class="description">Tests needs to be run.</p>
		</div>
		<div ng-if="manifest.tests.results">
			<table class="table">
				<tbody>
					<tr><th>Browser</th><td>{{manifest.tests.results.name}} ({{manifest.tests.results.name}})</td></tr>
					<tr><th>Tests</th><td>{{manifest.tests.results.tests}}</td></tr>
					<tr><th>Errors</th><td>{{manifest.tests.results.errors}}</td></tr>
					<tr><th>Failures</th><td>{{manifest.tests.results.failures}}</td></tr>
					<tr><th>Timestamp</th><td>{{manifest.tests.results.timestamp}}</td></tr>
					<tr><th>Time</th><td>{{manifest.tests.results.time}}</td></tr>
				</tbody>
			</table>
			<h3>Results</h3>
			<label><input type="checkbox" selected="selected" ng-model="onlyfailures">Only show failures</label>
			<table class="table">
				<thead>
					<tr><th>Name</th><th>Passed</th><th>Time</th></tr>
				</thead>
					<tbody ng-repeat="testcase in manifest.tests.results.testcases | filter: { failed: onlyfailures ? true : undefined }">
						<tr ng-class="{testfail:testcase.failure}">
							<td><b>{{testcase.name}}</b> - {{testcase.classname}}</td>
							<td>{{testcase.passed}}</td>
							<td>{{testcase.time}}</td>
						</tr>
						<tr ng-if="testcase.failure">
							<td colspan="3" class="testfail">
								{{testcase.failure}}
							</td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
</div>