<h2>Core</h2>
<table class="table">
	<thead><tr><th width="250">Name</th><th width="80">Version</th><th>Description</th><th width="120">Docs</th><th width="180">Tests</th></tr></thead>
	<tbody>
		<tr ng-repeat="manifest in manifests.core" ng-include="'partials/manifest-listing.html'"></tr>
	</tbody>
</table>
<h2>Applications</h2>
<table class="table">
	<thead><tr><th width="250">Name</th><th width="80">Version</th><th>Description</th><th width="120">Docs</th><th width="180">Tests</th></tr></thead>
	<tbody>
		<tr ng-repeat="manifest in manifests.apps" ng-include="'partials/manifest-listing.html'"></tr>
	</tbody>
</table>