<h2>Core</h2>
<table class="table">
	<thead><tr><th width="250">Name</th><th width="80">Version</th><th>Description</th><th width="100">Docs</th><th width="100">Errors</th></tr></thead>
	<tbody>
		<tr ng-repeat="manifest in manifests.core">
			<td>
				<a href="#manifest/{{ manifest.id }}/">
					<img src="{{ manifest.get('icons')['128'] }}" class="icon">
					{{ manifest.get('name') }}
				</a>
			</td>
			<td>{{ manifest.get('version') }}</td>
			<td>{{ manifest.get('description') }}</td>
			<td>-</td>
			<td>-</td>
		</tr>
	</tbody>
</table>
<h2>Applications</h2>
<table class="table">
	<thead><tr><th width="250">Name</th><th width="80">Version</th><th>Description</th><th width="100">Docs</th><th width="100">Errors</th></tr></thead>
	<tbody>
		<tr ng-repeat="manifest in manifests.apps">
			<td>
				<a href="#manifest/{{ manifest.id }}/">
					<img src="{{ manifest.get('icons')['128'] }}" class="icon">
					{{ manifest.get('name') }}
				</a>
			</td>
			<td>{{ manifest.get('version') }}</td>
			<td>{{ manifest.get('description') }}</td>
			<td>-</td>
			<td>-</td>
		</tr>
	</tbody>
</table>