#editor-area{
  float: left;
  width:1004px;
  border-right: 1px solid #efefef;
}

#retrieval-area{
  float: left;
}

.loomp-header{
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.loomp-tools{
  float:right;
}

.loomp-component{
  padding:10px;
}

.loomp-area{
  margin-top:45px;
}

.bottom {
		margin-top:10px;
		bottom:20px;
	}