<html>
  <head>
    <link href="/js/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/vendor/angular-ui/build/angular-ui.min.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
    <link rel="stylesheet/less" type="text/css" href="css/nike.less">
    <title>Nike+ Harvester - Configuration</title>
  </head>
  <body ng-app="NikeHarvester" ng-controller="ConfigPage" ng-cloak>
    <toolbar box-var='selectedBox' username-var='selectedUser'></toolbar>
    <div class="main" ng-show="selectedUser">
      <h2>INDX Nike+ Harvester Service</h2>
      <h3>Service status - {{ runstate }} </h3>
      <table>
        <tr>
          <td></td>
          <td><div class="btn btn-success" ng-click="doStart()">Start</div></td>
          <td><div class="btn btn-danger" ng-click="doStop()">Stop</div></td> 
        </tr>
      </table>
      <h3>Nike.com service authentication</h3>
      <div ng-show="nikeuser && nikepassword">
        <p>Harvester service has the following credentials set.</p>
      </div>
      <div ng-show="!nikeuser || ! nikepassword">
        <p>Harvester service does not have any credentials set and cannot access your data.</p> 
      </div>
      <table class='auth'>
        <tr>
          <td>Nike+ user</td>
          <td><input type="text" ng-model="nikeuser" /></td>
        </tr>
        <tr>
          <td>Nike+ password</td>
          <td><input type="password" ng-model='nikepassword' /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="btn btn-danger" ng-show="nikeerror" ng-click=""> {{ nikeerror }} </div>
            <div class="btn btn-warning" ng-show="nikeuser && nikepassword && !token" 
            ng-click="testLogin({nike:{user:nikeuser,password:nikepassword}})">Test login</div>
            <div class="btn btn-success" ng-show="token && nikeuser && nikepassword" > Login successful </div>
          </td>
        </tr>
      </table>
      <h3>INDX service access</h3>
      <table class='security'>
        <tr>
          <td>User</td>
          <td><select ng-model="user" ng-options='u.name for u in users'></select></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" ng-model='password' /></td>
        </tr>
        <tr>
          <td>Box</td>
          <td><select ng-model="box" ng-options='b for b in boxes'></select></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="btn btn-warning" 
          ng-show="user && box && (user['@id'] !== selectedUser.id) && !granted"
          ng-click="grantACL(user, box)">Authorise {{ user.name }} to have access to {{ box }}</div>
            <div class="btn btn-success" ng-show="granted_status" > {{ granted_status }} </div>
          </td>
        </tr>
      </table>
<!--       <h3>Service parameters</h3>
      <table class='params'> -->
        <!-- <tr><td>Start date:</td><td><input type="text" placeholder="YYYY-mm-dd" name="start" ng-model="start"></input></td></tr> -->
<!--         <tr><td>Overwrite existing? </td><td><input type="checkbox" ng-model="overwrite" checked='overwrite' /></td></tr>
      </table> -->
      <div class='submits'>
        <div class="btn btn-default" ng-click="setConfig({harvester:{box:box,user:user['@id'],password:password},nike:{user:nikeuser,password:nikepassword}})">Configure</div>
        <div class="status">{{ status }}</div>
      </div>
    </div>
    <div ng-show="!selectedUser">
      <p>Login to INDX to configure your Nike+ Harvester Service.</p>
    </div>

    <script src="/js/vendor/less/dist/less-1.6.2.min.js" type="text/javascript"></script>  
    <script src="/js/vendor/jquery/jquery.min.js" type="text/javascript"></script> 
    <script src="/js/vendor/underscore/underscore.js" type="text/javascript"></script>
    <script src="/js/vendor/backbone/backbone-min.js" type="text/javascript"></script>
    <script src="/js/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- angular --> 
    <script src="/js/vendor/angular/angular.min.js" type="text/javascript"></script>
    <script src="/js/vendor/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
    <!-- indx --> 
    <script src="/js/indx.js" type="text/javascript"></script>
    <script src="/js/indx-utils.js" type="text/javascript"></script>
    <script src="/components/toolbar/toolbar.js" type="text/javascript"></script>
    <script src="js/nike.js"></script>

    </body>
</html>
