body {
  background:white;
}
* {
  font-family:'helvetica neue', 'helvetica';
  font-weight:100;
  box-sizing:border-box;
}
h1, h2, h3 {
  font-weight:200 !important;
  text-align:center;
}
.container {
   background:white;
   padding:10px;
}
.nav-pills {
  text-align: left;
  margin-bottom:0px; margin-top:0px;
}
.tab-content {
   border-top:1px solid #eee;
   padding-top:12px;
}
.foo {
   margin:0px !important;
   padding:0px !important;
}
.indx-toolbar .navbar { margin-bottom:0px !important; }

.testpass, .testpass a {
  color: #5cb85c;
  //color: white;
}
.testfail, .testfail a {
  color: #d9534f;
  //color: white;
}
th {
  font-weight: bold;
}

.dialog {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 5px;
  overflow: auto;
  background: white;
  z-index: 3000;
}

.btn-build[disabled] span:after {
  content: "ing"; // lol
}

.btn-run[disabled]:after {
  content: "ning";
}
