body {
  background:white;
}
* {
  font-family:'helvetica neue', 'helvetica', sans-serif;
  font-weight:200;
  box-sizing:border-box;
}
h1, h2, h3 {
  font-weight:200 !important;
  text-align:center;
}
.container {
   background:white;
   padding:10px;
}
.nav-pills {
  text-align: left;
  margin-bottom:0px; margin-top:0px;
}
.tab-content {
//   border-top:1px solid #eee;
   padding:6px 6px 0px 6px;
}
.foo {
   margin:0px !important;
   padding:0px !important;
}
.indx-toolbar .navbar { margin-bottom:0px !important; }

.testpass, .testpass a {
  color: #5cb85c;
  //color: white;
}
.testfail, .testfail a {
  color: #d9534f;
  //color: white;
}
th {
  font-weight: bold;
}

.dialog {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 5px;
  overflow: auto;
  background: white;
  z-index: 3000;
}

.btn-build[disabled] span:after {
  content: "ing"; // lol
}

.btn-run[disabled]:after {
  content: "ning";
}
.icon {
  width: 32px;
  height: 32px;
}

h2 {
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 5px;
  margin-bottom: 0;
}
th {
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
}

.header {
  border-bottom: 1px solid #ddd;
  .icon, h1, .nav {
    display: inline-block;
    vertical-align: bottom;
  }
  .icon {
    margin: 7px 15px;
  }
  h1 {
    font-size: 22px;
    color: #666;
    margin-bottom: 10px;
  }
  .nav {
    border-bottom: 0;
    margin-left: 60px;
  }
}

p.description {
  margin: 10px;
}

.tab-pane {
}

iframe {
  border: 0;
  width: 100%;
}

.tab-pane .navbar {
  margin: 0;
  background: white;
}

.nav-mini {
  height: 40px;
  min-height: 40px;
  .navbar-brand, .navbar-nav > li > a {
    padding: 10px 10px;
  }
  .navbar-form {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.app-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 80%;
  color: white;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}