<html>
<head>
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/lib/angular-ui/build/angular-ui.min.css" rel="stylesheet">
<link rel="stylesheet/less" type="text/css" href="/components/toolbar/toolbar.less">
<link rel="stylesheet/less" type="text/css" href="css/objeditor.less">
<link rel="stylesheet" type="text/css" href="lib/codemirror/lib/codemirror.css">
<title>Object Editor</title>
</head>
<body>
  <div ng-app="objeditor" ng-controller="root" ng-cloak>
    <toolbar box-var='selectedBox' username-var='selectedUser'></toolbar>

	<div class="todos-messages alert alert-info" ng-if="msg">{{ msg }}</div>

	<div ng-show="selectedUser && selectedBox">
		<div ng-if="!s.obj">
			<form ng-submit="loadObj()">
				<p>Enter the ID of an object to edit</p>
				<input type="text" class="form-control" ng-model="s.objID" placeholder="Object ID">
				<input type="submit" ng-if="s.objExists" value="Load" ng-disabled="!s.objID">
				<input type="submit" ng-if="!s.objExists" value="Create" ng-disabled="!s.objID">
			</form>
		</div>
		<div ng-if="s.obj">
			<div class="boxie-toolbar">
				<button class="btn btn-default btn-sm" type="submit">Save</button>
				<button class="btn btn-default btn-sm" ng-click="s.obj = undefined">Cancel</button>
				<button class="btn btn-danger btn-sm" ng-click="s.obj.destroy()">Delete</button>
				<div class="toolbar-right">
					<div class="btn-group">
						<button class="btn btn-default btn-sm" ng-class="{ active: s.mode === 'form' }" ng-click="s.mode = 'form'">Form</a>
						<button class="btn btn-default btn-sm" ng-class="{ active: s.mode === 'json' }" ng-click="s.mode = 'json'">JSON</a>
					</button>
				</div>
			</div>
			<div class="edit edit-form" ng-if="s.mode === 'form'">
				<form ng-submit="s.obj.save()">
					<div class="values">
						<table>
							<tr><th>ID</th><td>{{s.obj.id}}</td></tr>
							<tr ng-repeat="(key, vals) in s.obj.attributes">
								<th>{{ key }}</th>
								<td>
									<ol><li ng-repeat="(i, val) in vals">
										<input class="form-control" type="input" ng-model="vals[i]">
									</li><!-- <li>
										<button class="btn btn-default" ng-click="s.obj.attributes.push('')">+</button>
									</li> --></ol>
								</td>
							</tr>
						</table>
					</div>
				</form>
			</div>
			<div class="edit edit-json" ng-if="s.mode === 'json'">
				<textarea ng-model="s.objJSON" ui-codemirror="{ mode: 'javascript' }"></textarea>
			</div>
		</div>
    </div>
  </div>
</body>
<script src="/lib/less/dist/less-1.6.2.min.js" type="text/javascript"></script>
<script src="/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/lib/underscore/underscore.js" type="text/javascript"></script>
<script src="/lib/backbone/backbone.js" type="text/javascript"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<!-- angular -->
<script src="/lib/angular/angular.min.js" type="text/javascript"></script>
<script src="/lib/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="lib/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="lib/codemirror/mode/javascript/javascript.js"></script>



<!-- indx -->
<script src="/js/indx.js" type="text/javascript"></script>
<script src="/js/indx-utils.js" type="text/javascript"></script>
<script src="/components/toolbar/toolbar.js" type="text/javascript"></script>

<script src="js/objeditor.js" type="text/javascript"></script>

</html>
