.loaded {
	border:1px solid #eee;
	width:100%;
	height:50px;
	vertical-align:middle;
	padding:0px;
}
.row {
	line-height:12px !important;
}
.boxview {
	padding:15px !important;
	li {
		list-style-type:none !important;
		i { cursor:pointer; }	
	}
	.ui-animate {
		opacity: 0;
		max-height: 0;
		padding: 0 5px;
	}
	transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-webkit-transition: all 1.5s ease;
	.editor {
		thead { display:none; }
		max-width:600px;
		padding:0px 16px 16px 16px;
		// border:1px solid #bbb;
		margin:0px 20px 20px 20px;
	}
}