<!DOCTYPE html>
<html lang="en">
  <head>
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/angular-ui.css" rel="stylesheet">
	<link href="../css/select2.css" rel="stylesheet"/>		
	<link rel="stylesheet/less" type="text/css" href="libtest.css">
	<link rel="stylesheet/less" type="text/css" href="../components/modeltable/modeltable.less"/>	
	<link rel="stylesheet/less" type="text/css" href="../components/toolbar/toolbar.less">
	<title>INDX Library test</title>
  </head>
  <body onload="" ng-app='tests'>
	<img id="loader" src="../img/skifcha.gif">
	<div class="boxview" ng-controller='BoxView'>
	  <ul>
		<li>
		  <div class="add-new-obj row">
			<div class="add-button"><i class="icon-plus" ng-click="showing_new_item=!showing_new_item"></i></div>
			<form class="new-item" ng-show="showing_new_item" ng-submit="create_new_item(new_item_id)">
			  <div class="span1"> new id: </div><input class="span4" type="text" ng-model="new_item_id">
			</form>
		  </div>		  
		<li ng-repeat="el in box_object_ids">
		  <div class="object row">
			<div ng-click="toggleEditor(el)" class="span11 name">{{ el }}</div>
			<div class="span1 trash-object"><i ng-click="delete_object(el)" class="icon-trash" ng-animate></i></div>
			<div ng-show="showEditor[el]" class="editor span12" ui-animate>
			  <modeltable boxideval="box.id" modelideval="el"></modeltable>
			</div>
		  </div>
	  </ul>
	</div>
  </body>
  <script src="../js/vendor/lesscss.min.js" type="text/javascript"></script>  
  <script src="../js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="../js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="../js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="../js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <script src="../js/vendor/angular-beta.min.js" type="text/javascript"></script>
  <script src="../js/vendor/select2.js" type="text/javascript"></script>  
  <script src="../js/vendor/angular-ui.js" type="text/javascript"></script>
  <!-- webbox --> 
  <script src="../components/webbox-widgets.js" type="text/javascript"></script>
  <script src="../components/modeltable/modeltable.js" type="text/javascript"></script>    
  <script src="../js/webbox-backbone.js" type="text/javascript"></script>
  <!-- --> 
  <script type="text/javascript" src="libtest.js"></script>  
</html>

