.loaded {
	border:1px solid #eee;
	width:100%;
	height:50px;
	vertical-align:middle;
	padding:0px;
}
.row {
	line-height:12px !important;
}
div.boxview {
	padding:15px !important;
	ul li {
		margin-left:0px;		
		.object {
			.name {
				cursor:pointer;
				&:hover {
					text-weight:300px;
					border-bottom:1px solid rgba(250,250,250,0.5);
				}
			}
			border-top:1px solid rgba(250,250,250,0.8);
			padding:10px 0px 5px 0px;
			display:block;
			width:100%;
		}
		list-style-type:none !important;
		i { cursor:pointer; }
		.editor {
			thead { display:none; }
			padding:0px 16px 0px 0px;
			margin:0px 0px 0px 20px;
		}
		.trash-object {
			text-align:right;
		}
	}
	.ui-animate {
		opacity: 0;
		max-height: 0;
		padding: 0 5px;
	}
	transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-webkit-transition: all 1.5s ease;

}