@import url(http://fonts.googleapis.com/css?family=Port+Lligat+Slab|Playball);

@app-top: 42px;

body { background: #f8f8f8; }

.indx-toolbar {
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 1080;
}

.todos-messages {
	font-size: 20px;
	text-align: center;
	margin: 60px 20px;
}

.loading { opacity: 0.7; }

.todos-main-body {
	cursor: default;
	.todos-sidebar {
		position: fixed;
		left: 0; top: @app-top; bottom: 0;
		width: 300px;
		border-right: 1px solid #eee;
		background: white;
		& > ul {
			padding: 0 0 0 0;
			margin: 0;
			list-style: none;
			position: relative;
			height: 100%;
			& > li {
				background: white;
				display: block;
				font-size: 25px;
				padding: 10px 0;
				line-height: 50px;
				position: relative;
				height: 50px;
				form {
					position: absolute;
					left: 0; right: 0; top: 0; bottom: 0;
					& > * { position: absolute; }
				}
				& > * { position: absolute; }
				input[type=submit] { display: none; }
				.static { display: block; }
				&:hover {
					background: #eee;
					.count { display: none; }
					.dropdown { display: block; }
				}
				&.selected, &:hover.selected {
					background: #26517C;
					color: white;
					cursor: text;
				}
				&.editing, &:hover.editing {
					background: white;
					color: black;
					.edit { display: block; }
					.static { display: none; }
				}
				&.special {
					position: absolute;
					left: 0;
					right: 0;
					&.special-completed { bottom: 0; }
					&.special-all { bottom: 50px; }
				}
				.title {
					left: 0; top: 0; right: 0; bottom: 0;
					text-indent: 20px;
					z-index: 10;
					input {
						display: block;
						background: transparent;
						border: 0;
						color: inherit;
						width: 100%;
						text-indent: 20px;
						height: 100%;
					}
				}
				.count {
					right: 25px; top: 0;
					z-index: 20;
				}
				.dropdown {
					position: absolute;
					top: 5px; right: 18px;
					padding: 8px 8px;
					z-index: 500;
					display: none;
					.dropdown-button { text-align: right; }
					.dropdown-menu {
						display: block;
						z-index: 500;
					}
				}
			}

		}
	}
	.todos-body {
		margin-top: @app-top;
		margin-left: 300px;
		& > ul {
			padding: 0;
			margin: 0;
			list-style: none;
			box-shadow: 0 15px 15px -15px rgba(0,0,0,0.3);
			& > li {
				background: white;
				position: relative;
				display: block;
				height: 50px;
				line-height: 40px;
				font-size: 22px;
				border-bottom: 1px solid #eee;
				.createTodoLink {
					position: absolute;
					top: -15px;
					left: 0;
					width: 100%;
					text-align: center;
					height: 30px;
					opacity: 0;
					z-index: 200;
					&:hover {
						opacity: 1;
						.line {
							top: 5px;
							bottom: 5px;
						}
					}
					.line {
						position: absolute;
						left: 0;
						right: 0;
						top: 15px;
						bottom: 15px;
						transition: top 0.1s linear, bottom 0.1s linear;
						box-shadow: inset 0px 0px 15px rgba(0,0,0,0.3);
						background: white;
					}
					.i {
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						text-align: center;
						color: #ddd;
						z-index: 10;
						font-size: 20px;
					}
				}
				&.completed {
					background: #f8f8f8;
				}
				.completedBox {
					position: absolute;
					top: 15px;
					height: 20px;
					left: 14px;
					border: 1px solid #eee;
					margin: 0;
					width: 20px;
				}
				.title {
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					text-indent: 50px;
					z-index: 0;
					input {
						display: block;
						background: transparent;
						border: 0;
						color: inherit;
						width: 100%;
						text-indent: 50px;
						height: 100%;
					}
				}
			}
		}
	}
}

.intro-step {
	position: relative;
	margin: 10px;
	max-width: 345px;
	& > .fa {
		position: absolute;
		left: 10px;
		top: 10px;
		font-size: 24px
	}
	& > h3 {
		padding-left: 35px;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 13px 0;
	}
	& > p {
		padding-left: 30px;
	}
	&.intro-step-create-list {

	}
}