<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/dyntab.css">
	<link rel="stylesheet" href="css/browseone.css">


	<script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div id="container">
	<header>
      <div class="row">
        <div class="twelve columns">
          <h1>Welcome to WebBox</h1>
            <p>This is a WebBox, see <a target="_blank" href="http://github.com/danielsmith-eu/webbox/wiki/">the WebBox Wiki</a> for more information.</p>
        </div>
      </div>
	</header>
	<div id="main" role="main">


      <div class="row">
       <div class="twelve columns">
        <h2>WebBox Browser</h2>

        <dl id="browser-row" class="sub-nav">
            <dt>Browse:</dt>
            <dd id="row_everything"><a href="#">Everything</a></dd>
            <dd id="row_uploaded_files" class="active"><a href="#">Uploaded Files</a></dd>
            <dd id="row_received_posts"><a href="#">Received Posts</a></dd>
            <dd id="graphs"><a href="#">Named Graphs</a></dd>
        </dl>

       </div>
       <div class="twelve columns">
        <div id="status"></div>
        <div id="browser_table"></div>
       </div>
       <div class="twelve columns">
        <div id="browse_one"></div>
       </div>
      </div>

	</div>
	<footer>

	</footer>
</div> <!--! end of #container -->

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
-->
<script src="js/jquery-1.7.2.js"></script>


    <script>
        /* some useful values */
        window.webbox_vars = {};
        window.webbox_vars.server_url = "{{ server_url }}";
    </script>

  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  
  <script src="js/jquery.foundation.reveal.js"></script>
  
  <script src="js/jquery.foundation.orbit.js"></script>
  
  <script src="js/jquery.foundation.navigation.js"></script>
  
  <script src="js/jquery.foundation.buttons.js"></script>
  
  <script src="js/jquery.foundation.tabs.js"></script>
  
  <script src="js/jquery.foundation.forms.js"></script>
  
  <script src="js/jquery.foundation.tooltips.js"></script>
  
  <script src="js/jquery.foundation.accordion.js"></script>
  
  <script src="js/jquery.placeholder.js"></script>
  
  <script src="js/jquery.foundation.alerts.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="js/foundation.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="js/app.js"></script>









<!-- scripts concatenated and minified via ant build script-->
<script src="js/dynamictable.js"></script>
<script src="js/jsonld.js"></script>
<script src="js/browseone.js"></script>
<script src="js/webbox.js"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<!-- end scripts-->

<script>

$(document).ready(function(){


    var prefixes = "PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> ";
    var queries = {
        "row_everything": prefixes+"SELECT DISTINCT ?item ?type ?label WHERE {?item rdf:type ?type . OPTIONAL{?item rdfs:label ?label}}",
        "row_uploaded_files": prefixes+"SELECT DISTINCT ?item ?type ?mimeType WHERE {?item rdf:type <http://webbox.ecs.soton.ac.uk/ns#File> . ?item rdf:type ?type . OPTIONAL{?item <http://www.semanticdesktop.org/ontologies/nie/#mimeType> ?mimeType}}",
        "row_received_posts": prefixes+"SELECT DISTINCT ?item ?type WHERE {?item rdf:type <http://rdfs.org/sioc/ns#Post> . ?item rdf:type ?type}",
        "graphs": prefixes+"SELECT DISTINCT ?item WHERE { GRAPH ?item { ?s ?p ?o }}",
    };


    $("#browser-row").find("a").click(function(evt){
        var target = $(evt.target);

        if (target.is(".active")){
            return false;
        }

        $("#browser-row").children().removeClass("active");
        target.parent().addClass("active");
        var target_id = target.parent().attr("id");

        $("#browser_table").html("");
        table_from_query(queries[target_id]);

        return false;
    });

    function browseTo(uri){
        // start a mini browser for an individual item into #browse_one
        browseOne(uri, window.webbox_vars.server_url, $("#browse_one"));
    }

    function table_from_query(query){

        $("#status").html("Loading items...");

        $.ajax(
            { "url": window.webbox_vars.server_url,
              "cache": false,
              "crossDomain": true,
              "data": {
                  "query": query,
              },
              "headers": {"Accept": "application/sparql-results+json"},
              "dataType": "json", // also sets the accept header
              "success": function(data, textStatus, jqXHR){

                  console.debug("data", data);
                  // convert SELECT results to data
                  var newdata = wb_results_to_data(data, {"item": "uri", "type": "http://www.w3.org/1999/02/22-rdf-syntax-ns#type", "label": "http://www.w3.org/2000/01/rdf-schema#label", "mimeType": "http://www.semanticdesktop.org/ontologies/nie/#mimeType"});
                  console.debug("newdata", newdata);
    
                  // convert CONSTRUCT to data
                  //var newdata = wb_json_normalise(data);

                  var columns = [
                      {"uri": "uri", "label": "Item URI", "class": "browser_item", "click": function(uri){ browseTo(uri); }},
                      {"uri": "http://www.w3.org/1999/02/22-rdf-syntax-ns#type", "label": "RDF Type"},
                  ];

                  $("#status").html("Rendering items...");
                  var dt = new DynamicTable($("#browser_table"), {"data": newdata, "columns": columns });
                  $("#status").html("");
                  dt.change_val(function(from, to){
                      replace_triple(from, to);
                  });
              },
            }
        );
    }
    table_from_query(queries["row_uploaded_files"]);

    function replace_triple(from, to){
        // replace a triple {from.subject from.predicate from.obj} with triple {to.subject to.predicate to.obj}
        var from_triple = "{"+from.subject+" "+from.predicate+" "+from.object+"}";
        var to_triple = "{"+to.subject+" "+to.predicate+" "+to.object+"}";

        // first, determine the graph to manipulate
        var query = prefixes+"SELECT DISTINCT ?graph WHERE { GRAPH ?graph "+from_triple+"}"
        $.ajax({
            url: window.webbox_vars.server_url,
            data: {query: query},
            headers: {"Accept": "application/sparql-results+json"},
            type: "GET",
            dataType: "json",
            success: function(data){
                // TODO do much better sparql results parsing here
                $.each(data['results']['bindings'], function(){
                    var result = this;
                    var graph = result['graph']['value'];

                      // single query doesn't work in 4store :(
//                    var unifiedQuery = prefixes+"INSERT DATA { GRAPH <"+graph+"> "+to_triple+"} DELETE DATA { GRAPH <"+graph+"> "+from_triple+"}";
//                    var queries = [unifiedQuery];

                    var deleteQuery = prefixes+"DELETE DATA { GRAPH <"+graph+"> "+from_triple+"}";
                    var insertQuery = prefixes+"INSERT DATA { GRAPH <"+graph+"> "+to_triple+"}";
                    var queries = [deleteQuery, insertQuery];
                    $.each(queries, function(){
                        var q = this;
                        $.ajax({
                            url: window.webbox_vars.server_url,
                            headers: {"Content-type": "application/x-www-form-urlencoded"},
                            data: {query: q},
                            type: "POST",
                            success: function(data){

                            },
                        });
                    });

                });
            },
        });
    }

});

</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
