<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>WebBox: Uploader</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">


  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">

	<link rel="stylesheet" href="css/fileuploader.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div id="container">
	<header>
      <div class="row">
        <div class="twelve columns">
          <h1>Welcome to WebBox</h1>
            <p>This is a WebBox, see <a target="_blank" href="http://github.com/danielsmith-eu/webbox/wiki/">the WebBox Wiki</a> for more information.</p>
        </div>
      </div>
	</header>
	<div id="main" role="main">

        <div class="row">
         <div class="twelve columns">

           <h2>File Uploader</h2>

        <p>This form allows files to be uploaded directly to a WebBox.</p>

        <form method="PUT" id="upload_form">

        <div id="file-uploader"></div>

        </form>

         </div>
        </div>


	</div>
	<footer>

	</footer>
</div> <!--! end of #container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>



    <script>
        /* some useful values */
        window.webbox_vars = {};
        window.webbox_vars.server_url = "{{ server_url }}";
    </script>

  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  
  <script src="js/jquery.foundation.reveal.js"></script>
  
  <script src="js/jquery.foundation.orbit.js"></script>
  
  <script src="js/jquery.foundation.navigation.js"></script>
  
  <script src="js/jquery.foundation.buttons.js"></script>
  
  <script src="js/jquery.foundation.tabs.js"></script>
  
  <script src="js/jquery.foundation.forms.js"></script>
  
  <script src="js/jquery.foundation.tooltips.js"></script>
  
  <script src="js/jquery.foundation.accordion.js"></script>
  
  <script src="js/jquery.placeholder.js"></script>
  
  <script src="js/jquery.foundation.alerts.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="js/foundation.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="js/app.js"></script>







<!-- scripts concatenated and minified via ant build script-->
<script src="js/plugins.js"></script>
<script src="js/libs/fileuploader.js"></script>
<script src="js/script.js"></script>
<!-- end scripts-->

<script>
$(document).ready(function(){
    var prfx = "webbox/";

    var uploader = new qq.FileUploader({
        element: $("#file-uploader")[0],
        action: prfx,
//        debug: true,
        onComplete: function(id, name, response){
            var filename = prfx + name;
            var div = $("#file-uploader").html("");
            div.append("Your file is now available at: ");
            div.append($("<a target='_blank' href='"+filename+"'>"+filename+"</a>"));
            div.append(".");
        },
    });

});
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>

