* { box-sizing:border-box; font-face: helvetica neue; } 

.facetdemo { 
	vertical-align:top;
	.page.ng-enter, .page.ng-leave {
		-webkit-transition:0.5s linear all;
		transition:0.5s linear all;
	}
	.page.ng-enter { opacity:0;	}
	.page.ng-enter.ng-enter-active { opacity:1.0; }	
	* { 
		-webkit-transition:0.5s linear all;	transition:0.15s linear all;		
	}
	.dimension select {
		height:100%;
	}
	select { 
		option.fade { color:#eee; font-weight:100; } 
	}
	.access * { display:inline-block; }
	.page {
		display:inline-block;
		vertical-align: middle;
		background-color:#fff;
        overflow:hidden;
		position:relative;
		border:1px solid #eee;
		margin:3px 3px;
		width:140px;
		height:140px;
		padding:0px;
		.thumbnail { width:140px; }
		.title {
			position:absolute;
			background-color:rgba(255,255,255,0.72);
			font-weight:200;
			left:0px; right:0px;
			bottom:0px;
			padding:5px 2px 20px 12px;
			font-size:10pt;
		}
		.count, .duration {
			position:absolute;
			bottom:4px;
			font-size:9pt;
			z-index:1000;
			background:rgba(255,255,255,0.4);
		}
		.count { left: 2px; }
		.duration { right: 2px; }
		.url {
			position:absolute;
			opacity:0;
			background-color:rgba(255,255,255,0.72);
			font-weight:200;
			font-size:6pt;
			&:hover { opacity:1;	}
			bottom:5px;
			left:5px; right:5px;
		}
		&:hover {
			box-shadow: #eee 2px 2px;
			.thumbnail { opacity:0.7; }
			.title {
				font-size:10pt;
				font-weight:300;
				opacity:1.0;
				background-color:rgba(255,255,255,1);
			}
		}
	}
}
