<div class="modeltable">
  <table class="table table-condensed">
	<thead>
	  <tr>
		<th colspan="2">{{ model.name || model.id }}</th>
	  </tr>
	</thead>
	<tbody>
	<tr ng-repeat="kvobj in uimodel" ui-animate>
	  <td class="delspan">
		<i class="icon-remove" ng-click="delete_property(kvobj)"></i>
	  </td>	  
	  <td class="span3">
		<input type="text" ng-model="kvobj.key" ng-class="checkPropertyClass(kvobj)" ui-event="{keyup: 'commit_model()'}">
	  </td>
	  <td>
		<!-- <input type="text" ng-model="kvobj.value" ui-event="{keyup: 'commit_model()'}"> -->
		<input class="select2"
			   ui-select2="{tags:box_objs,width:'400px'}" ng-model="kvobj.value"
			   ui-event="{keyup: 'commit_model()', click: 'commit_model()'}"></select>
	  </td>
	</tr>
</tbody>
<tfoot>
  <tr class="newpropertyrow" ng-click="new_row()">
	<td colspan="2" class="newproperty"><i class="icon-plus"></i></td>
  </tr>
</tfoot>
  </table>
</div>
