@import url(http://fonts.googleapis.com/css?family=Port+Lligat+Slab|Playball);

@app-top: 52px;

.todos-main-body {
	cursor: default;
	.todos-sidebar {
		position: fixed;
		left: 0;
		top: @app-top;
		bottom: 0;
		width: 300px;
		ul {
			padding: 10px 0 0 0;
			margin: 0;
			list-style: none;
			li {
				display: block;
				position: relative;
				height: 50px;
				font-size: 25px;
				padding: 10px 0;
				&.selected {
					background: #26517C;
					color: white;
				}
				& > * {
					position: absolute;
				}
				.icon {
					left: 10px;
					top: 10px;
				}
				.title {
					left: 50px;
					top: 5px;
				}
				.count {
					right: 15px;
					top: 5px;
				}
			}

		}
	}
	.todos-body {
		background: #f5f5f5;
		margin-left: 300px;
		border-left: 1px solid black;
		min-height: 100%;
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
	}
}