<td class="obj-id">
	<div class="truncate">
		Obj#{{ pop(obj.id) }}
		<span class="text-muted" ng-show="!obj.is_selected">- {{ pop(obj.val_string).substr(0, 100) }}</span>
	</div>
	<div class="obj-preview" ng-show="obj.is_selected">
		<ul class="icons" >
			<li><a title="Analyse" ng-click="obj.analyse()"><i class="glyphicon glyphicon-eye-open"></i></a></li>
			<li hidden><a title="Edit" ng-click="obj.edit()"><i class="glyphicon glyphicon-pencil"></i></a></li>
			<li hidden><a title="Delete" ng-click="obj.delete()"><i class="glyphicon glyphicon-remove"></i></a></li>
		</ul>
		<pre>{{ pop(obj.val_string) }}</pre>
	</div>
</td>
<td hidden>timestamp (user)</td>