.indx-list-flat {
    .nav;
    .nav-pills;
    .nav-stacked;
    padding: 0;
    li {
        margin: 0;
        & > a {
            border-bottom: 1px solid #eee;
            padding: 15px;
            border-radius: 0;
            i {
                width: 18px;
                display: inline-block;
                text-align: center;
                margin-right: 10px;
            }
        }
    }
}