
@import url(http://fonts.googleapis.com/css?family=Questrial);

* {
	box-sizing:border-box !important;
	font-family:helvetica neue ultralight, helvetica neue;
	font-weight:light;
}

div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 130px 0px 0px 0px;
  	padding: 0;
	width:100%;
}

.header {
	font-family: 'Questrial', sans-serif;
	font-weight:400;
	padding:0px; margin:0px;
	line-height:120px;
	font-size:84pt;
	margin-left:0px;
	text-align:center;
	width:100%;
}

.box {
    border-radius:3px;
	position:absolute;
    left:50%;
	width:400px;    height:400px;
    margin-left:-200px;
    top:50%;

    margin-top:-200px;
	padding:30px; 
	background-color:#3B5998;
	color:white;
	.btn {
		margin:12px 10px 12px 10px;
		display:block;
	}
}

hidden {
	display:none;
}

#login {
	position:absolute;
	bottom:60px; left:50%;
	margin-left:-90px !important;
	width:180px;
}
.mod_container {
    margin:12px 10px 12px 10px;
    transition-property:height;
    transition-duration:0.5s;
    transition-delay:0s;    
    -webkit-transition-property:height;
    -webkit-transition-duration:0.5s;
    padding:5px !important;    
    background:rgba(255,255,255,0.1);
    overflow:hidden;
    height:36px;
    &.expanded {  height:72px;  }      
}              
#last_modified {
   color:white;
   font-size:12pt;
   text-align:left;
   font-weight:100;
}
#counter {
   position:absolute;
   right:20px;
   bottom:40px;
   font-size:72pt;
   color:black;
   font-weight:100;
}        